@media only screen and (min-width: 1199px) {
    #mobile-menu {
        display: none;
    }
    .mainmenu {
        position: relative;
    }
    .overlapblackbg {
        display: none;
    }
    .menu-wrapper {
        color: $color__white;
        position: relative;
        padding: 0;
        margin: 0px auto;
        width: 100%;
    }
    .hours-content {
        margin: auto;
    }
    .mainmenu {
        float: right;
        padding: 0;
        text-align: center;
        margin-right: -15px;
        margin-bottom: 0;
        > li {
            float: left;
            position: relative;
        }
        li {
            list-style: none;
        }
    }
    .navigation {
        .mainmenu {
            > li > a {
                display: block;
                padding: 35px 18px;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                text-decoration: none;
                position: relative;
                font-family: $font_montserrat;
                color: $color__white;
                vertical-align: middle;
                @include prefixed(transform, translateZ(0));
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                @include prefixed(backface-visibility, hidden);
                white-space: nowrap;
                span {
                    font-size: 14px;
                    color: #929292;
                    margin-left: 5px;
                }
                &:after {
                    content: "";
                    border-bottom: 2px solid $bright_turquoise;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -2px;
                    opacity: 0;
                    width: 0;
                    @include prefixed_double(transition, width 0.5s, opacity 0.3s);
                }
                &.active::after,
                &:hover::after {
                    opacity: 1;
                    width: 100%;
                }
                > .fa-angle-down {
                    position: absolute;
                    right: 2px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #a0a0a0;
                }
            }
            > li.current-menu-item,
            > li.current-menu-ancestor {
                > a:before {
                    @include prefixed(transform, translateY(0));
                }
            }
            > li:last-child > a::after {
                content: "";
            }
            li.active > a {
                color: $golden_poppy !important;
            }
        }
    }
    .menu-click {
        display: none;
    }
    /* Sub Menu CSS */
    .mainmenu .sub-menu {
        min-width: 300px;   
        position: absolute;
        z-index: 999;
        margin: 0;
        padding: 20px;
        background-color: #080d18;
        opacity: 0;
        top: 102%;
        @include prefixedallon(transform-origin, 0% 0%);
        @include prefixed_double(transition, transform 0.3s, opacity 0.3s);
        li {
            position: relative;
            a {
                background-image: none;
                color: $white_smoke;
                font-family: $font_montserrat;
                border-right: 0 none;
                text-align: left;
                display: block;
                line-height: 1.5em;
                padding: 10px 20px;
                text-transform: none;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: normal;
            }
            &:last-child a {
                border-bottom: none;
            }
        }
    }
    .mainmenu .sub-menu li a,
    .mainmenu .sub-menu .sub-menu li a {
        //border-bottom: 1px solid #3e3e3e;
    }
    .mainmenu .sub-menu li:last-child > a {
        border-bottom: 0;
    }
    .menuexpandermain {
        display: none;
    }
    .mainmenu {
        li:hover .sub-menu,
        .sub-menu li:hover .sub-menu-sub {
            display: block;
        }
        .sub-menu .sub-menu,
        .sub-menu .sub-menu .sub-menu {
            min-width: 300px;   
            position: absolute;
            z-index: 999;
            margin: 0;
            padding: 20px;
            background-color: #080d18;
            left: 88%;
            top: -20px;
            margin: 0;
            opacity: 0;
            box-shadow: 1px 9px 40px rgba(0,0,0,0.45);
            @include prefixedallon(transform-origin, 0% 0%);
            @include prefixed_double(transition, transform 0.4s, opacity 0.4s);
            z-index: 1001;
        }
        .sub-menu li:hover .sub-menu,
        .sub-menu .sub-menu li:hover .sub-menu {
            opacity: 1;
            list-style: none;
        }
    }
    .mainmenu .sub-menu li {
        position: relative;
        display: block;
    }
    .megamenu {
        &.cols-10 {
            //min-width: 80%;
        }
    }
    /*Animation*/
    .mainmenu {
        li {
            > .sub-menu,
            > .megamenu > .sub-menu {
                @include prefixedallon(transform-style, preserve-3d);
                @include prefixed(transform, rotateX(-90deg));
                visibility: hidden;
            }
            &:hover {
                > .sub-menu,
                > .megamenu > .sub-menu {
                    @include prefixed(transform, rotateX(0deg));
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    /* Default Color */
    .mainmenu {
        li:hover>a,
        > li > a:hover,
        > li > a.active {
            background-color: rgba(0, 0, 0, 0);
            text-decoration: none;
        }
    }
    .mainmenu .sub-menu > li > a:hover,
    .mainmenu .sub-menu .sub-menu > li > a:hover,
    .mainmenu .sub-menu .sub-menu .sub-menu > li > a:hover {
        background-color:  rgba(0,0,0,0.25);
        @include prefixed(border-radius, 0!important);
        text-decoration: none;
    }
    .mainmenu .sub-menu .current-menu-parent > a,
    .mainmenu .sub-menu .current-menu-item > a {
        background-color:  rgba(0,0,0,0.25);
    }
    .current-menu-ancestor .current-menu-ancestor > a {
        background-color:  rgba(0,0,0,0.25);
    }
    .megamenu .sub-menu .current-menu-item > a,
    .megamenu .current-menu-ancestor > a,
    .megamenu.current-menu-ancestor .current-menu-ancestor > a {
        background-color: rgba(0, 0, 0, 0);
    }
    .megamenu {
        .sub-menu .current-menu-parent > a,
        .sub-menu .current-menu-item > a {
            background-color: rgba(0, 0, 0, 0);
        }
    }
    .mainmenu .sub-menu .fa {
        margin-right: 5px;
        position: absolute;
        right: 15px;
        transform: rotate(-90deg);
        top: 16px;
    }
    .center-nav .mainmenu {
        display: table;
        width: auto;
    }
    .right-side-menu .sub-menu {
        right: -15px;
        left: auto !important;
    }
    .right-side-menu .right-side-menu .sub-menu,
    .right-side-menu .sub-menu .sub-menu {
        right: 100%;
        left: auto !important;
    }
    .sub-menu .right-side-menu .sub-menu {
        right: 100% !important;
        left: auto !important;
    }
    .right-side-menu .sub-menu > li:hover > a i {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .mega-submenu {
        position: static !important;
    }
    .mainmenu .sub-menu.sh-mega-menu {
      padding: 20px;
      width: 100% !important;
      min-width: 760px !important;
      right: 0;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
    .navigation .mainmenu > li > a {
        padding: 10px 18px;
    }
}
@media only screen and (min-width: 1101px) and (max-width: 1200px) {
    .navigation .menu-list > li > a {
        padding: 10px 23px;
    }
}

.creative-2 {
    .navigation .mainmenu > li > a {
        color: inherit !important;
    }
    .hamburger-widget-area {
        color: inherit !important;
    }
}