@media only screen and (max-width: 1199px) {
    .menu-click {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        cursor: pointer;
        z-index: 120;
        i {
            display: block;
            background-size: 25px;
            font-size: 14px;
            float: right;
            color: $color__white;
            padding: 17px;
            width: 45px;
            transition: transform 0.1s ease;
            border-left: 1px solid $color__menu-text;
        }
    }
    .menu-extend.fa-plus::before {
        content: "\f068";
        font-family: FontAwesome;
    }
    .sh-mega-menu {
        display: none !important;
    }
    .mega-submenu .menu-click {
        display: none !important;
    }
    .mobilemenu-block {
        .expand-block .main-mobile-menu {
            padding-top: 60px;
        }
    }
}
.overlaybg {
    right: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    background-color: rgba(13, 20, 34, 0.9);
    cursor: pointer;
}
.slide-left > .overlaybg {
    display: block;
}
.main-mobile-menu {
    display: none;
    @media only screen and (max-width: 1199px) {
        display: block;
    }
}
.mobile-nav {
    .bsm-btn {
        background: $golden_poppy;
        color: $color__black;
        box-shadow: 0 0 0 rgba(0,0,0,0);
        padding: 12px 0;
        display: block;
        height: auto;
        border-radius: 0;
        @media only screen and (max-width: 992px) { 
            margin-right: -30px;
        }        
        @media only screen and (max-width: 480px) { 
            margin-right: -15px;
        }
    }
}

.expand-block {
    background: #0f1a30;
    height: 100%;
    padding: 30px;
    position: fixed;
    right: -100%;
    top: 0;
    width: 350px;
    transition: all 0.8s ease 0s;
    z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
    @media only screen and (max-width: 400px) {
        width: 300px;
    }
    &.slide-left {
        right: 0;
        transition: all 0.4s ease 0s;
    }
    .scroll-container {
        height: 100% !important;
    }
    .close-menu {
        color: $color__white;
        cursor: pointer;
        height: 30px;
        right: 15px;
        position: absolute;
        top: 33px;
        transition: all 0.3s ease 0s;
        width: 30px;
        font-size: 30px;
        line-height: 27px;
        text-align: center;
    }
    .hamburger-content {
        padding-top: 30px;
        @media only screen and (max-width: 1199px) {
            padding-top: 0;
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
            li {
                position: relative;
                float: none;
            }
            li a {
                font-family: $font_montserrat;
                color: #e6e6e6;
                border-top: 1px solid rgba($color__gainsboro, 0.10);
                display: block;
                width: 100%;
                padding: 22px 18px;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.5;
                position: relative;
                @media only screen and (max-width: 1199px) {
                    padding: 12px 18px;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.5;
                    position: relative;
                }
                &:after {
                    content: "\f0da";
                    font-family: FontAwesome;
                    position: absolute;
                    right: 0;
                    font-size: 11px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $bright_turquoise;
                    @media only screen and (max-width: 1199px) {
                        content: "";
                    }
                }
                .fa-angle-down {
                    display: none;
                }
                span.description {
                    display: block;
                    font-size: 13px;
                    color: rgba(255,255,255,0.35);
                    @media only screen and (max-width: 1199px) {
                        display: none;
                    }
                }
            }
            ul {
                li a {
                    padding: 12px 24px;
                } 
            }
        }
        > ul > li:last-child {
            border-bottom: 1px solid rgba($color__gainsboro, 0.10);
        }
    }
    .sub-menu {
        display: none;
        @media only screen and (max-width: 992px) {    
            position: static !important;
            top: auto !important;
            left: auto !important;
            float: none !important;
            min-width: 100% !important; 
            padding: 0 !important;
            margin: 0 !important; 
            font-size: inherit !important; 
            text-align: left !important;
            background-color: transparent !important;
            border: 0 none !important;
            border-radius: 0 !important;
            box-shadow: 0 0 0 rgba(0,0,0,0);
        }
        li > a {
            @media only screen and (max-width: 992px) {  
                margin: 0 !important;
                line-height: inherit;
                font-size: inherit;
            }
        }
    }
    .main-mobile-menu {
        @media only screen and (max-width: 1199px) {
            padding-top: 30px;
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
            li {
                position: relative;
                float: none;
            }
            li a {
                font-family: $font_montserrat;
                color: #e6e6e6;
                border-top: 1px solid rgba($color__gainsboro, 0.10);
                display: block;
                width: 100%;
                padding: 12px 18px;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.5;
                position: relative;
                .fa-angle-down {
                    display: none;
                }
                span.description {
                    display: block;
                    font-size: 13px;
                    color: #aaa;
                }
            }
            ul {
                li a {
                    padding: 12px 24px;
                } 
            }
        }
    }
}
.widget_nav_menu {
    .sub-menu {
        display: block !important;
    }
}
.expand-menu-block {
    .top-menu {
        display: block !important;
    }
    .sub-menu {
        display: none;
    }
}
