/* page link pagination */
.article-content {
	.page-links {
		span {
			border: 1px solid $color__border-one;
			font-size: 1em;
    		padding: 0.4em 0.8em;
    		font-weight: 600;
		}
		> span {
			color: #fff;
		}
		a {
			text-decoration: none;
		}
	}
}
/*==================================
pagination
================================= */
.pagination-link {
	background: $snow;
	padding: 15px 0;
	.pagination {
		margin: 0;
		margin-bottom: -10px;
		display: block;
		text-align: center;
		li {
			display: inline-block;
			a {
				margin-right: 10px;
				margin-bottom: 10px;
				border-radius: 5px !important;
				color: $color__black;
				background-color: $color__white;
				font-weight: 600;
				border: 1px solid $color__border-one;
				padding: 4px 10px;
				line-height: 1.75em;
				display: block;
				&:hover {
					background-color: $color__charcoal;
					color: $color__white;
					border-color: $color__charcoal;
				}
				i {
					font-weight: bold;
				}
			}
		}
		li.active {
			a {
				background-color: $color__charcoal;
				color: $color__white;
				border-color: $color__charcoal;
				box-shadow: 0 0 0 rgba(0,0,0,0);
			}
		}
		.dot {
			i {
				color: $color__gainsboro;
			}
		}
		&.pagination-style-two {
			margin-top: 30px;
			margin-bottom: 10px;
		}
	}
	@media only screen and (max-width: 992px) {
		margin-bottom: 30px;
	}
}

.page-numbers.dots {
	margin-right: 12px;
}


.menu-pagination-block {
	background: #f9f9f9;
	overflow: hidden;
	margin-top: 30px;
	.pagination-link {
		padding: 15px;
		background: transparent;
		.pagination {
			text-align: right;
			@media only screen and (max-width: 992px) {
				text-align: center;
			}
		}
	}
}
.pagination-position {
	margin-bottom: 0;
	padding: 20px;
	@media only screen and (max-width: 992px) {
		text-align: center;
	}
	a {
		padding: 0 3px;
		&.active {
			color: $color__citrus;
		}
	}
	&.orange-theme {
		a {
			padding: 0 3px;
			&.active {
				color: $color__orange;
			}
		}
	}
}
