.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-content a {
	word-wrap: break-word;
}
.comment-content {
	font-size: 15px;
	ul, ol {
		li {
			margin-top: 10px;
			line-height: 1.6em;
		}
	}
	> ul,
	> ol {
		padding-left: 20px;
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}
.bypostauthor {
	display: block;
}

.cancel-comment-reply-link {
	bottom: -2px;
	display: inline-block;
	left: 0.6em;
	position: relative;
}
.logged-in-as {
	margin-bottom: 0.7em !important;
	padding: 0 15px;
}
.comments-area {
	overflow: hidden;
    margin-bottom: 30px;
	.comment-list, .children {
		list-style: none;
		padding: 0;
	}
	.comments-title {
		font-size: 23px;
		font-weight: 700;
		margin: 0;
		margin-bottom: 30px;
		span {
			background: $color__white;
			z-index: 10;
	    	position: relative;
		}

	}
	.comment-list {
		margin-bottom: 45px;
		border-top: none;
		.comment .comment-respond {
			margin-bottom: 45px;
		}
	}
	.comment-body {
		overflow: hidden;
		margin-bottom: 45px;
	}
	.comment-author {
	    float: left;
	    margin-right: 15px;
	    width: 60px;
	}
	.date {
		display: block;
		font-size: 13px;
		color: #a0a0a0;
		margin-top: 0;
	}
	.comment-details {
		@include table_display;	
	}
	.comment-metadata {
	    margin-bottom: 0.5em;
	    color: $color__heading; 
	    .author {
	    	font-size: 16px;
	    }
	    .says, .comment-edit-link {
	    	color: #777;
	    }
	}
	.children {
		margin-left: 108px;
		@media only screen and (max-width: 1199px) {
			margin-left: 90px;
		}		
		@media only screen and (max-width: 992px) {
			margin-left: 75px;
		}		
		@media only screen and (max-width: 767px) {
			margin-left: 50px;
		}		
		@media only screen and (max-width: 450px) {
			margin-left: 30px;
		}		
		@media only screen and (max-width: 400px) {
			margin-left: 25px;
		}
	}
	.comment-navigation {
		 margin-bottom: 3.5em;
		.nav-links {
			.nav-previous {
				float: left;
			}
			.nav-next {
				float: right;
			}
			span {
				font-size: 18px;
			}
			a {
				background-color: #232c3b;
				color: white;
				border-radius: 5px;
			}	
		}
	}
	
}
.comment-respond {
	background-color: $color__white;
	overflow: hidden;
	label {
		font-weight: 500;
		font-size: 14px;
	}
	.comment-reply-title {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 23px;
		font-weight: 700;
	}
}

.comment-respond {
	p {
		margin-bottom: 1em;
	}
	.form-control {
		border-left: 1px solid #ddd !important;
		border-right: 1px solid #ddd !important;
		border-top: 1px solid #ddd !important;
		padding: 0 15px !important;
		box-sizing: border-box !important;
		font-size: 14px !important;
	}
	.bsm-textarea {
		border-left: 1px solid #ddd !important;
		border-right: 1px solid #ddd !important;
		border-top: 1px solid #ddd !important;
		padding: 15px;
		height: 150px;
		font-size: 14px !important;
		box-sizing: border-box;
	}
	.form-submit {
		margin-bottom: 0;
		padding: 0 15px;
	}
	.comment-subscription-form {
		display: none;
	}
	.comment-form-rating {
		margin-bottom: 1em;
	}
	input {
		font-size:13px;
		color:#8c8c8c;
		border-bottom: 1px solid #dad2d2;
		width: 100%;
	}
	#submit,
	.submit {
		padding: 13px 45px;
		border-radius: 5px;
		color: $color__white;
		font-weight: 500;
		text-transform: capitalize;
		font-size: 14px;
		width: auto;
		background: $bright_turquoise;
	}
}
#review_form {
	.form-submit {
		padding: 0;
	}
}

.no-comments {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.comment-reply-link {
    padding: 10px 22px;
    font-size: 12px;
    line-height: normal;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background-color: $color_nevy;
    color: white !important;
    border-radius: 5px;
}


input[type="checkbox"]::-ms-check {
    color: transparent;
}

@media only screen and (max-width: 767px) {
  .comments-area .comment-author  {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
  }
}
