.sticky {
	display: block;
}
.hentry {
	margin: 0 0 75px;
}
.page-content {
	margin: 1.4em 0;
}
.entry-content {
	@extend .page-content;
}
.entry-summary {
	@extend .page-content;
}
.page-links {
	clear: both;
	margin: 0 0 2.1em;
}
/*--------------------------------------------------------------
# Page-header
--------------------------------------------------------------*/
.page-header {
    margin: 0;
    padding: 60px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    .section-title {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 0;
        line-height: 1.12em;
        margin-top: 0;  
        span {
            font-family: inherit;
        }
        + .page-description {
            font-weight: 500;
            letter-spacing: 0.015em;
            margin-bottom: 0;
        }
    }
}

/*--------------------------------------------------------------
# Page Heading
--------------------------------------------------------------*/
.header-title {
	text-align: center;
	margin-bottom: 30px;
}
.page-header {
	margin: 0;
}
body.page {
    .page-links {
        padding-top: 30px;
    }
}
/*--------------------------------------------------------------
# Process of work
--------------------------------------------------------------*/
.process-item {
    margin-top: 30px;
    .process-serial {
        font-weight: 700;
        font-size: 60px;
        margin-bottom: -22px;
    }
    .process-box {
        background: $black_russian;
        padding: 40px 20px;
        .process-title {
            color: $color__white;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
            position: relative;
            padding-bottom: 15px;
            margin-bottom: 15px;
            &:after {
                content: "";
                width: 20px;
                height: 3px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: #3e4757;
            }
        }
        p {
            font-size: 14px;
            margin-bottom: 0;
            color: rgba(255,255,255,0.45);
        }
    }
}


.price-box {
    background: $black_russian;
    color: $color__white;
    padding: 40px;
    margin-bottom: 30px;
    p {
        margin-bottom: 0;
        font-size: 14px;
        .title {
            font-weight: 600;
        }
        .price {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.project-form {
    .project-input:not([type="file"]),
    textarea {
        border-bottom: 1px solid #ebebeb !important;
        border-top: 1px solid #ebebeb !important;
        border-left: 1px solid #ebebeb !important;
        border-right: 1px solid #ebebeb !important;
        padding: 5px 15px !important;
        box-sizing: border-box !important;
        font-size: 15px !important;
    }
    textarea {
        height: 12rem;
    }
    .condition-serial {
        background: $snow;
    }
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        background: #ebebeb;
        display: block;
        padding: 20px 15px;
        cursor: pointer;
        text-align: center;
        color: $color__heading;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .condition-list {
        display: table;
        width: 100%;
        margin-bottom: 25px;
        font-size: 15px;
        .condition-serial {
            background: #ebebeb;
            width: 45px;
            height: 45px;
            line-height: 45px;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            font-weight: 700;
            color: $color__heading;
            margin-right: 15px;
        }
        p {
            display: table-cell;
            vertical-align: top;
        }
    }
    .project-submit {
        margin-top: 30px;
        border: 0 none;
        background: $black_russian;
        color: $color__white;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 15px 90px;
        &:hover {
            background: $bright_turquoise;
            color: $color__white;
        }
    }
}

/*--------------------------------------------------------------
# No results
--------------------------------------------------------------*/
.no-results.not-found {
    overflow: hidden;
    background: #ffffff;
    text-align: center;
    .page-header {
        margin-top: 0;
        padding-top: 0;
    }
    .page-title {
        font-family: inherit !important;
        font-size: 45px;
        font-weight: bold;
        margin-top: 0;
        position: relative;
        &:after {
            content: "";
            background: #1d1d1f;
            height: 3px;
            width: 50px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -25px;
        }
    }
    .page-not-found-icon {
        margin-top: 5px;
        i {
            color: #a94442;
            font-size: 60px;
        }
    }
    .form-controller {
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        border-left: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        height: 34px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 4px 0 4px 15px;
        margin-bottom: 0;
        @media only screen and (max-width: 540px) {
            padding: 4px 0 4px 15px;
        }
    }
    .btn-default {
        border: 1px solid #e1e1e1;
        @media only screen and (max-width: 540px) {
            padding: 13px 30px;
        }
    }
    .page-content {
        @media only screen and (min-width: 992px) {
            max-width: 540px;
            margin: auto;
        }
    }
}

.entry-share {
    span {
        font-weight: 600;
        display: block;
        margin-bottom: 7px;
    }
    a i {
        color: inherit !important;
    }
    .customer.share {
        color: #fff;
        width: 35px;
        height: 35px;
        display: inline-block;
        border-radius: 30px;
        text-align: center;
        line-height: 27px;
        margin-right: 8px;
        &.facebook {
            background: #3b5998;
        }        
        &.twitter {
            background: #00acee;
        }        
        &.google-plus {
            background: #dd4b39;
        }        
        &.pinterest {
            background: #ca1f27;
        }        
        &.linkedin {
            background: #0e76a8;
        }
    }
}