/*--------------------------------------------------------------
# 404
--------------------------------------------------------------*/
.error-page {
	padding: 300px 0;
	@media only screen and (max-width: 1100px) {
		padding: 200px 0;
	}
	@media only screen and (max-width: 992px) {
		padding: 150px 0;
	}
	@media only screen and (max-width: 800px) {
		padding: 120px 0;
	}
	@media only screen and (max-width: 768px) {
		padding: 60px 0;
	}
}
.error-title {
	font-size: 45px;
	font-weight: 700;
	margin-top: 0;
	padding-bottom: 20px;
	margin-bottom: 35px;
	text-transform: uppercase;
	position: relative;
	&:after {
		content: "";
		background: $color__heading;
		height: 3px;
		width: 50px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;
	}
}
.go-back-btn {
	display: table;
	margin: 45px auto auto;
	border: 2px solid $color__heading;
	padding: 12px 50px;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.015em;
	background: transparent;
	font-size: 14px;
	color: $color__heading;
}
.error-subtitle {
	font-size: 50px;
	font-weight: 600;
	color: $bright_turquoise;
}
.error-desc {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
}
.error-block {
	border-bottom: 1px solid #101010;
}

