.contact-details {
	.item {
		text-align: center;
	}
	.icon-area {
		display: table;
	    margin: auto;
	    background: $color__black;
	    color: $snow;
	    width: 60px;
	    height: 60px;
	    font-size: 18px;
	    border-radius: 50px;
	    line-height: 60px;
	}
	.icon-desc {
		margin-bottom: 60px;
		.desc-title {
			font-size: 18px;
		    font-weight: 800;
		    letter-spacing: 0.010em;
		}
		.contact-info {
			font-weight: 600;
		}
	}
}
.contact-form-area {
	label {
		font-weight: 600;
		font-size: 14px;
		color: $color__heading;
	}
	.contact-form {
		input, textarea {
			border-top: 1px solid $color__border-one;
			border-bottom: 1px solid $color__border-one;
			border-left: 1px solid $color__border-one;
			border-right: 1px solid $color__border-one;
			background: #f8f8f8;
		}
		textarea {
			min-height: 10rem;
		}
		.btn-contact {
			display: table;
			border: 2px solid $color__border-one;
			padding: 14px 45px;
			border-radius: 30px;
			text-transform: uppercase;
			font-weight: 600;
			background: transparent;
			font-size: 14px;
			color: $color__heading;
			transition: all 0.4s ease;
			&:hover {
				border-color: $bright_turquoise;
				color: $bright_turquoise;
			}
		}
		&.no-bg {
			input, textarea {
				background: transparent;
			}
		}
		&.round {
			input {
				border-radius: 30px;
			}
			textarea {
				border-radius: 15px;
			}
			input, textarea {
				padding: 12px 15px;
				box-sizing: border-box;
				font-size: 13px;
			}
		}
	}
}

.contact-details-content {
	@media only screen and (max-width: 992px) {
		margin-top: 30px;
	}
	.contact-list {
		border-bottom: 1px solid $color__border-one;
		margin-bottom: 30px;
		padding-bottom: 30px;
		.title {
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			.fa {
				margin-right: 10px;
			}
		}
		p {
			margin-bottom: 10px;
			font-size: 14px;
		}
		a {
			color: $bright_turquoise;
			text-decoration: underline;
		}
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
	&.v-2 {
		padding: 75px;
		@media only screen and (max-width: 992px) {
			padding: 30px;
		}
		.contact-list {
			border-bottom: 0 none;
			padding-bottom: 0;
			p i {
				margin-right: 15px;
			}
		}
	}
}

.contact-form .input-success, 
.contact-form .input-error {
    float: left;
    width: 100%;
    clear: both;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 5px 15px;
    display: none;
}

.map-left-content {
	iframe {
		margin: 0;
		padding: 0;
		margin-bottom: -5px;
		width: 100%;
	}
}