/*--------------------------------------------------------------
# Popular, Latest Post, Recent Comment widget
--------------------------------------------------------------*/
.feed-wrapper {
    padding-bottom: 18px;
    margin-bottom: 18px;
    position: relative;
    overflow: hidden;
    .image-area {
        width: 62px;
        height: 62px;
        float: left;
        margin-right: 18px;
        .fit-img {
            position: relative;
            overflow: hidden;
            padding-top: 100%;
            @include prefixed(transform,translateZ(0));
        }
        img {
        	width: 100%;
        	height: 100%;
        }
    }
    .item-text {
		display: table-cell;
        h5 {
        	font-family: inherit;
            margin-top: 0;
            margin-bottom: 2px;
            font-size: 16px;
            line-height: 1.4em;
            display: block;
            font-weight: bold;
        }
    }
    .item-meta {
        font-size: 12px;
        color: $color__meta;
        word-spacing: 0.1em;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .fit-img img {
        position: absolute!important;
        width: 100%;
        height: 100%;
        max-width: none!important;
        top: 50%;
        left: 50%;
        @include prefixed(transform,translate(-50%, -50%));
    }
    &:last-child {
        margin-bottom: 0;
        border: 0 none;
    }
}
/*--------------------------------------------------------------
# Email Subscribe Widget
--------------------------------------------------------------*/
.litmus-theme-newsletter-box .newsletter-area {
	border: 5px solid #ddd;
	padding: 25px;
	.description {
        font-size: 15px;
		margin-bottom: 15px;
        font-weight: 600;
        color: #828282;
	}
	.mc-embedded-subscribe-form {
        overflow: hidden;
		.form-controller {
			background: transparent;
			height: 45px;
			width: 100%;
			margin-bottom: 10px;
			border: 1px solid #ddd;
			box-sizing: border-box;
			font-size: 14px;
		}
		.btn {
			border: none;
		}
		.mc-embedded-subscribe {
			position: relative;
			text-transform: uppercase;
			border: 0 none;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0.015em;
			word-spacing: 1px;
			width: 100%;
			padding: 14px 0;
			color: white;
			overflow: hidden;
		}
		.mce_inline_error {
			margin-bottom: 8px;
			color: #aa1515;
			font-size: 13px;
			&.form-controller {
				margin-bottom: 0;
			}
		}
	}
	#mce-success-response {
		margin-top: 10px;
		color: green;
		font-size: 13px;
	}
	.mc-response{
		margin-top: 10px;
		font-size: 13px;
	}
}
/* =======widget-options======= */
.newsletter-content {
	margin-top: 30px;
	label {
		font-size: 16px;
	    font-weight: normal;
	    color: $color__grey;
	    margin-bottom: 15px;
	    display: block;
	}
	.bsm-input-field {
		label {
			font-size: 14px;
		}
	}
	.form-controller {
		background-color:#393939 !important;
	}
	input {
		border: none;
		border-radius: 5px 0 0 5px;
		padding: 8px 0 8px 8px !important;
		height: 30px !important;
	}
	.input-group-btn {
		padding: 0 !important;
		.btn-group {
			margin: 0 !important;
		}
		.bsm-btn-primary {
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0;
			padding: 0 20px;
		}
	}
}
.useful-link-content {
	li {
		position: relative;
		a {
			font-weight: 800;
			color: $color__widget-text;
			padding-left: 35px;
			margin-bottom: 15px;
			display: block;
			letter-spacing: 0.015em;
		}
		&:before {
			position: absolute;
			left: 0;
			top: 10px;
			width: 20px;
			height: 3px;
			content: "";
			background-color: $golden_poppy;
		}
	}
}
.add-content {
	img {
		display: block;
		margin: auto;
	}
}
/*--------------------------------------------------------------
# Categories And Archive Widget
--------------------------------------------------------------*/
.widget_categories,
.widget_archive,
.widget_layered_nav {
	ul li {
		font-size: 14px;
        text-transform: capitalize;
		display: block;
		line-height: 1em;
		font-weight: 500;
        padding-top: 20px !important;
		@include prefixed(transition, all .25s ease-in 0s);
		position: relative;
        @media only screen and (max-width: 767px) { 
            padding-top: 20px !important; 
        }
        &:before {
        	content: "-";
        	margin-right: 5px;
        }
		ul {
			padding-left: 15px;
		}
		.count {
			&:before {
				content: "(";
			}			
			&:after {
				content: ")";
				position: relative;
				left: -3px;
			}
		}
	}
	> ul > li:first-child {
		border: 0 none;
		padding-top: 0 !important;
		margin-top: 0 !important;
	}
	.bsm-select-wrapper li {
		padding-top: 0 !important;
		margin-top: 0 !important;
	} 
	.bsm-select-wrapper {
		input.select-dropdown {
			margin-bottom: 0;
		    padding: 0 20px;
		    box-sizing: border-box;
		    border-top: 1px solid #ddd;
		    border-left: 1px solid #ddd;
		    border-right: 1px solid #ddd;
		    border-radius: 30px;
		    font-size: 14px;
		    font-weight: 500;
		}
		span.caret {
			right: 15px;
		}
		.bsm-dropdown-content li>a, 
		.bsm-dropdown-content li>span {
			font-size: 14px;
			color: inherit;
			display: block;
			line-height: 30px;
			padding: 10px 16px;
		}
	}
}
.widget_categorie {
	li {
		.count {		
			&:after {
				content: ")";
				position: relative;
				left: 0;
			}
		}
	}
}
.widget_text {
	.bsm-select-wrapper li {
		padding-top: 0 !important;
		margin-top: 0 !important;
	} 
	.bsm-select-wrapper {
		input.select-dropdown {
			margin-bottom: 0;
		    padding: 0 20px;
		    box-sizing: border-box;
		    border-top: 1px solid #ddd;
		    border-left: 1px solid #ddd;
		    border-right: 1px solid #ddd;
		    border-radius: 30px;
		    font-size: 14px;
		    font-weight: 500;
		}
		span.caret {
			right: 15px;
		}
		.bsm-dropdown-content li>a, 
		.bsm-dropdown-content li>span {
			font-size: 14px;
			color: inherit;
			display: block;
			line-height: 30px;
			padding: 10px 16px;
		}
	}
}
/*------------------------------------------------------------------------
# Links, Meta, NavMenu, Pages, Recent Comment, Recent Entries  Widget
-------------------------------------------------------------------------*/
.widget_links a,
.widget_meta a,
.widget_nav_menu .menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a,
.widget_product_categories a {
	border: 0;
}
.widget_nav_menu .menu a .fa {
	display: none;
}
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_product_categories {
	font-size: 14px;
	a {
		border: 0;
		text-decoration: none;
	}
	ul {
		list-style: none;
		margin: 0;
		li {
			padding-top: 20px;
			border-bottom: 0 none;
			font-weight: 500;
			&:before {
				content: "-";
				margin-right: 5px;
			}
		}	
	}
	> ul {
		position: relative;
	}
	> ul > li:first-child {
		margin-top: 0;
		padding-top: 0;
		border-top: 0 none;
	}
}
.widget {
	.menu {
		position: relative;
		> li:first-child {
			border-top: 0 none;
			padding-top: 0;
		}
		.sub-menu {
			box-shadow: 0 0 0 rgba(0,0,0,0);
		}
	}
}

.widget_nav_menu .sub-menu,
.widget_pages .children {
	border: 0;
	margin: 0 0 0 1em;
}
.widget_recent_entries .post-date {
	display: block;
}

/*--------------------------------------------------------------
# RSS Widget
--------------------------------------------------------------*/
.widget_rss {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	ul {
		list-style: none;
		margin: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	li {
		margin-bottom: 1.6em;
		padding-bottom: 25px;
		&:last-child {
			margin-bottom: 0;		
		}
		.rssSummary {
			margin: 5px 0;
			line-height: 1.75em;
		}
	}
	.rsswidget {
		border: 0;
		font-weight: 700;
	}
	.rsswidget img {
		margin-top: -4px;
	}
	.rss-date, cite {
		font-size: 0.8em;
		font-style: normal;
		display: block;
		line-height: 2;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	}
	> p {
		position: relative;
	}
}

#wp-calendar caption {
	font-weight: 600;
}
#wp-calendar {
	td, 
	th {
		padding: 8px;
		text-align: center;
		border: 1px solid #ddd;
	} 
}
/*--------------------------------------------------------------
# Search Widget
--------------------------------------------------------------*/
.widget_search,
.widget_product_search {
	.input-group .form-controller {
		display: table-cell;
		border-top: 1px solid $color__border-two;
		border-left: 1px solid $color__border-two;
		border-right: 1px solid $color__border-two;
		padding: 5px 15px;
		height: 32px;
		margin-bottom: 0;
		border-bottom-left-radius: 25px;
		border-top-left-radius: 25px;
		border-bottom-color: $color__border-two;
	}
	button {
		@include prefixed(border-radius, 0);
		padding: 0.75em 1em;
	}
	.btn-search {
		i {
			position: relative;
			top: -1px;
			vertical-align: middle;
		}
	}
	.btn.btn-default {
		border: 1px solid $color__border-two;
	}
}

.tagcloud {
	a:after {
		content: ",";
	}
	a:last-of-type::after {
		content: "";
	}
	a {
		font-size: inherit !important;
		line-height: 1.75em;
	}
}


.hamburger-widget-area {
	.widget_categories .bsm-select-wrapper input.select-dropdown, 
	.widget_archive .bsm-select-wrapper input.select-dropdown, 
	.widget_layered_nav .bsm-select-wrapper input.select-dropdown {
		border-top: 1px solid rgba(221, 221, 221, 0.1);
		border-left: 1px solid rgba(221, 221, 221, 0.1);
		border-right: 1px solid rgba(221, 221, 221, 0.1);
		border-bottom: 1px solid rgba(221, 221, 221, 0.1);
	}
	input.select-dropdown {
		color: #fff;
	}
	#wp-calendar td, 
	#wp-calendar th {
		border: 1px solid rgba(221, 221, 221, 0.1);
	}
	.widget_search .input-group .form-controller, 
	.widget_product_search .input-group .form-controller {
		border-top: 1px solid rgba(221, 221, 221, 0.1);
	    border-left: 1px solid rgba(221, 221, 221, 0.1);
	    border-right: 1px solid rgba(221, 221, 221, 0.1);
	    border-bottom-color: rgba(221, 221, 221, 0.1);
	}
}
.shop-sidebar {
	.widget_categories,
	.widget_archive,
	.widget_layered_nav,
	.widget_product_categories {
		ul li {
			font-size: 14px;
	        text-transform: capitalize;
			display: block;
			line-height: 1em;
			font-weight: 400;
	        padding-top: 0 !important;
	        margin-top: 20px !important;
			border-top: 0 none;
			border-bottom: 0 none !important;
			@include prefixed(transition, all .25s ease-in 0s);
			position: relative;
	        @media only screen and (max-width: 767px) { 
	            padding-top: 20px !important; 
	        }
	        &:before {
	        	content: "-";
	        	margin-right: 5px;
	        }
			ul {
				padding-left: 15px;
			}
			.count {
				position: absolute;
				right: 0;
			}
		}
		> ul > li:first-child {
			border: 0 none;
			padding-top: 0 !important;
			margin-top: 0 !important;
		}
		.bsm-select-wrapper li {
			padding-top: 0 !important;
			margin-top: 0 !important;
		} 
	}
	.product_list_widget {
		.product-title {
			font-weight: 400;
			font-size: 15px;
			color: #333;
		}
		.woocommerce-Price-amount {
			font-size: 14px;
			font-weight: 600;
			color: #333;
			margin-top: 5px;
			display: inline-block;
		}
		li {
			border-bottom: 1px solid #ebebeb;
			padding-bottom: 15px !important;
			margin-bottom: 15px !important;
		}
	}
	.tagcloud {
		a {
			font-size: 14px !important;
		}
		a:after {
			content: ",";
		}
		a:last-of-type::after {
			content: "";
		}
	}
	.widget_recent_reviews {
		.product_list_widget li a {
			font-weight: 400;
			font-size: 15px;
			color: #333;
		}
		.product_list_widget li .reviewer {
			font-size: 13px;
			text-transform: capitalize;
		}
	}
	.widget_price_filter .ui-slider-horizontal {
		height: 0.2em;
	}
	.widget_price_filter .price_slider_wrapper .ui-widget-content {
		background-color: #333;
	}
	.widget_price_filter .ui-slider .ui-slider-handle {
		top: -0.35em;
		background-color: #777;
	}
	.widget_price_filter .ui-slider .ui-slider-range {
		background-color: #999;
	}
	.widget_price_filter .price_slider_amount .button {
		background: transparent;
		border: 1px solid #ddd;
		font-size: 14px;
		text-transform: uppercase;
	}
}


.footer-middle {
	.widget_links ul li, 
	.widget_meta ul li, 
	.widget_nav_menu ul li, 
	.widget_pages ul li, 
	.widget_recent_comments ul li, 
	.widget_recent_entries ul li, 
	.widget_product_categories ul li {
		padding-top: 15px !important;
		border-top: 0 none;
	}
}