.widget {
	select {
		width: 100%;
		border: 1px solid $color__border-one;
		padding: 0.4em 0.8em;
		outline: none;
	}
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.widget-title-area {
		position: relative;
	}
	.widget-title {
		margin-top: 0;
	}
	pre {
		padding: 0.5em
	}
	label {
		margin-bottom: 0;
	}
	option {
		padding: 0.2em 1em;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		padding: 0.5em 1em;
		&:focus {
		 	box-shadow: none !important;
		}
	}
}
.blog-sidebar {
	.widget {
		//overflow: hidden;
	    margin-bottom: 45px;
	    color: #999999;
	}
	.widget-title {
		position: relative;
		text-transform: uppercase;
		margin-top: 0;
		clear: both;
		font-weight: 700;
		font-size: 16px;
		margin-bottom: 35px;
		&:before {
			content: "";
			background: #ddd;
			width: 35px;
			height: 2px;
			position: absolute;
			bottom: -10px;
		}
	}
}
.bsm-dropdown-content.select-dropdown {
	li:before {
		content: "";
		margin-right: 0;
	}
}
.widget-title {
	@media only screen and (max-width: 992px) {
		margin-bottom: 0 !important;
	}
	+ div,
	+ ul,
	+ select,
	+ ol {
		@media only screen and (max-width: 992px) {
			margin-top: 30px;
		}
	}
}
.widget .expand-margin.widget-title {
	cursor: pointer;
}
.widget .expand-margin.widget-title:after {
    content: "\f067";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    width: 23px;
    height: 23px;
    border: 2px solid;
    text-align: center;
    font-size: 13px;
    border-radius: 50px;
    line-height: 22px;
}
.widget .expand-margin.expand.widget-title:after {
    content: "\f068";
}

.hamburger-widget-area {
	margin-top: 25px;
	padding: 0 8px;
	color: rgba(255,255,255,0.35);
	.widget-title {
		color: $color__white;
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 15px;
	}
	.widget {
		margin-bottom: 30px;
	}
	input.select-dropdown {
		color: rgba(255,255,255,0.35);
	}
	.bsm-select-wrapper .caret {
		color: rgba(255,255,255,0.35);
	}
}

.shop-sidebar {
	.widget {
		margin-bottom: 45px;
		color: #999999;
	}
	.widget-title {
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}
