/*--------------------------------------------------------------
# Footer-block
--------------------------------------------------------------*/
.site-footer {
	color: $color__meta-widget;
    a:hover {
        color: $bright_turquoise;
    }
    .footer-top {
        border-bottom: 1px solid rgba($color__gainsboro, 0.10);
        [class*="col-"] {
            @media only screen and (max-width: 992px) {
                -ms-flex: 0 0 100%;
                -webkit-box-flex: 0;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .footer-middle {
        color: rgba($color__white, 0.40);
        [class*="col-"] {
            @media only screen and (max-width: 992px) {
                -ms-flex: 0 0 100%;
                -webkit-box-flex: 0;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        &.bg-snow {
            color: #666 !important;
            .widget-title {
                color: inherit;
                font-weight: 600;
            }
            .social-link li a {
                border-color: rgba(221, 221, 221, 0.75);
            }
        }
    }
    input.select-dropdown {
        color: rgba(255,255,255,0.35);
    }
    .bsm-select-wrapper .caret {
        color: rgba(255,255,255,0.35);
    }
    .footer-bottom {
        border-top: 1px solid rgba($color__gainsboro, 0.10);
        padding: 30px 0;
        .copyright-text {
            margin-bottom: 0;
            @media only screen and (max-width: 767px) {
                text-align: left;
            }
        }
        .copyright-text a {
            color: $bright_turquoise;
            &:hover {
                text-decoration: underline;
            }
        }
        .footer-menu {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            margin-right: -10px;
            @media only screen and (max-width: 767px) {
                text-align: center;
                margin-right: 0;
                margin-top: 15px;
                float: left !important;
                margin-left: -10px;
                margin-right: -10px;
                float: left !important;
            }
            li {
                float: left;
                @media only screen and (max-width: 767px) {
                    float: left;
                    display: inline-block;
                }
               a {
                padding: 0 10px;
               }
            }
        }
    }
    .newsletter-form {
        .form-title {
            color: $color__white;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 0;
            @media only screen and (max-width: 992px) {
                text-align: center;
                margin-bottom: 15px;
            }
        }
        .form-controller {
            border: 1px solid rgba($color__gainsboro, 0.10) !important;
            padding: 5px 29px;
            border-radius: 30px;
            margin-bottom: 0;
            width: 100%;
            height: 56px;
            color: $color__white;
            box-sizing: border-box;
            &:not([type]):focus:not([readonly]), 
            &:not(.browser-default):focus:not([readonly]) {
                border: 1px solid $bright_turquoise !important;
                box-shadow: 0 1px 0 0 rgba(0,0,0,0) !important;
            }
        }
        .newsletter-btn {
            display: inline-block;
            border: 2px solid $bright_turquoise;
            color: $bright_turquoise;
            padding: 16px 45px;
            border-radius: 30px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.008em;
            width: 100%;
            background: transparent;
            font-size: 15px;
            @media only screen and (max-width: 992px) {
                width: auto;
                margin: 20px auto 0;
                display: table;
            }
            &:hover {
                border-color: $color__white;
                color: $color__white;
            }
        }
        .newsletter-message {
            margin-top: 15px;
            .subscription-success {
                color: #28a745;
                text-align: center;
            }
            .subscription-error {
                color: #dc3545;
                text-align: center;
            }
        }
    }
    .widget {
        margin-top: 70px;
        margin-bottom: 45px;
        @media only screen and (max-width: 991px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .widget-title {
            color: $color__white;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
            word-spacing: 0.25em;
            margin-bottom: 20px;
        }
        .widget-thumb {
            margin-bottom: 30px;
        }
        ul li {
            line-height: 1.75em;
            .fa {
                margin-right: 10px;
            }
        }
        .product-categories li {
            padding-top: 15px;;
        }
    }
}
.social-link {
    li {
        display: inline-block;
    }
    li a {
        display: block;
        width: 45px;
        height: 45px;
        line-height: 43px;
        border: 2px solid rgba($color__gainsboro, 0.10);
        text-align: center;
        border-radius: 50px;
        margin-right: 5px;
        transition: all 0.35s ease-in;
        .fa {
            margin: 0 !important;
        }
        &:hover {
            border-color: $bright_turquoise;
            color: $bright_turquoise;
        }
    }
}
.footer-social {
	a {
		padding: 20px 15px;
		display: inline-block;
        &:hover,
        &:focus {
          color: $golden_poppy;
        }
	}
}
.creative-v2 {
    .service-offer-item .service-content p {
        color: #eee;
    }
    .service-offer-item .service-content .offer-title,
    .service-offer-item .service-icon {
        color: #fff;
    }
    &.service-offer {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    .footer-middle {
        color: rgba(255, 255, 255, 0.90);
    }
    .footer-bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        color: rgba(255, 255, 255, 0.9);
    }
}
/*--------------------------------------------------------------
# Scroll Top
--------------------------------------------------------------*/
.topbutton {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #ffffff;
    display: block;
    height: 45px;
    line-height: 55px;
    text-align: center;
    width: 45px;
    font-size: 30px;
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.4);
    z-index: 99;
    opacity: 0;
    color: #1d1d1f;
}

@media only screen and (max-width: 600px) {
    .topbutton {
        right: 10px;
    }
}

.btn-show {
    opacity: 1;
    transform: translateY(0);
}

.btn-hide {
    opacity: 0;
    transform: translateY(40px);
}