button {
    font-size: 11px;
    padding: 12px 30px;
	color: $color__white;
	line-height: normal;
	@include prefixed(transition, all .25s ease);
}
input[type="button"] {
	@extend button;
}
input[type="reset"] {
	@extend button;
}
input[type="submit"] {
	@extend button;
	font-weight: bold;
	text-transform: uppercase;
	background: $color__border-five;
	color: $color__white;
	&:hover {
		color: $color__white;
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	&:focus {
		outline: none;
	}	
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button {
	a {
		color: $color__white;
	}
}
.search-form, 
.searchform {
	.btn {
		@include prefixed(border-radius, 0);
		&:hover {
			color: $color__white;
			text-decoration: none;		
		}
		&:focus {
			background: transparent;
			color: $color__white;
			outline: 0 none;
		}
		&:active:focus {
			background: transparent;
			color: $color__white;
			outline: 0 none;
		}
	}
}
.btn {
	@include prefixed(border-radius, 0);
}
.btn-default {
	color: $color_text_main;
	&:hover {
		color: $color_text_main;
	}
}
.btn-softblack {
	background: rgba(0,0,0,0.35) !important; 
}
// More link
a.more-content {
	background: $color_nevy;
	padding: 15px 30px;
	color: $color__white;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	border-radius: 30px;
	display: table;
	margin: 15px auto auto;
}

.btn-banner {
	font-weight: 400;
	font-size: 16px;
	height: 55px;
	line-height: 55px;
	padding: 0 45px;
	border-radius: 10px;
	box-shadow: 0 0 0 rgba(0,0,0,0);
}
.btn-creative {
	font-weight: 400;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-radius: 10px;
	box-shadow: 0 0 0 rgba(0,0,0,0);
}
.btn-more {
	padding: 0 4.5rem;
	font-weight: 700;
	font-size: 14px;
	color: $color__white !important;
	background: $color_text_main;
	box-shadow: 0 0 0 rgba(0,0,0,0);
}

.purchase-btn {
	border: 2px solid $bright_turquoise;
	color: $bright_turquoise;
	width: 100%;
	padding: 12px 15px;
	border-radius: 30px;
	font-size: 14px;
	&:hover {
		border-color: $color__white;
		color: $color__white;
	} 
}

.ajax-load-more {
	display: table;
	margin: 30px auto auto;
	border: 1px solid $color__border-one;
	padding: 12px 45px;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.015em;
	background: transparent;
	font-size: 15px;
}

.more-link {
	// border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	text-transform: uppercase;
	word-spacing: 0.02em;
	letter-spacing: 0.01em;
	// color: $color__white;
	// display: table;
	// margin: 30px auto 0;
	// vertical-align: middle;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	// overflow: hidden;
	@include prefixed(transition, all 0.25s ease);
	&:hover, &:focus, &:active:focus {
		color: $color__white;
		text-decoration: none !important;
	}
}
.comment-reply-link {
	padding: 6px 2\2px;
	font-size: 11px;
	line-height: normal;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	background: $color__border-five;
	color: $color__white;
	&:hover {
		color: $color__white;
	}
}
.comment-navigation {
	.nav-links {
		a {
			background: $color__white;
			display: inline-block;
			padding: 0.5em 1.8em;
			letter-spacing: 0.02em;
			&:hover {
				color: $color__white;
			}
		}	
	}
}
.go-button {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	width: 186px;
	height: 45px;
	line-height: 46px;
	background: $header__footer-bg;
	@include prefixed(transition, all 0.3s ease);
	&:hover {
		color: $color__white;
	}
}
.slider-btn-round {
	border: 1px solid $bright_turquoise;
	text-transform: uppercase;
	padding: 15px 45px;
	border-radius: 30px;
	font-weight: 600 !important;
	color: $bright_turquoise;
	&:hover {
		border-color: $color__white !important;
		color: $color__white !important;
	}
	&.orange-btn {
		border-color: $color__orange;
		color: $color__white;
		background: $color__orange;
	}
	&.citrus-btn {
		color: $color__citrus;
		border-color: $color__citrus;
	}
	&.citrus-btn-block {
		color: $color__white;
		border-color: $color__citrus;
		background: $color__citrus;
	}
}
.citrus-btn {
	background: $color__citrus !important;
}
.show-all-btn {
	border: 2px solid #777;
	text-transform: uppercase;
	padding: 12px 45px;
	border-radius: 30px;
	font-weight: 600 !important;
	color: $color__white;
	display: table;
	margin: 30px auto 0; 
	&:hover {
		border-color: $color__citrus !important;
		color: $color__citrus !important;
	}
	&.color-normal {
		color: inherit;
	}
	&.gray-border {
		border-color: #dddddd !important;
		color: inherit;
	}
}
.reservation-btn {
	border: 2px solid $color__citrus;
	background: transparent;
	text-transform: uppercase;
	padding: 15px 45px;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 600 !important;
	color: $color__white;
	display: table;
	margin: 30px auto 0; 
	&:hover {
		border-color: $color__citrus !important;
		color: $color__white !important;
		background: $color__citrus !important;
	}
}
.newsletter-block-v2 {
	button {
		border: 2px solid $color__citrus;
		background: $color__citrus;
		text-transform: uppercase;
		padding: 12px 45px;
		border-radius: 30px;
		font-size: 16px;
		font-weight: 500 !important;
		color: $color__white;
		display: table;
		margin: 15px auto 0; 
		&:hover {
			border-color: $color__citrus !important;
			color: $color__white !important;
		}
	}
}
.mfp-wrap {
	button:hover {
		background: transparent !important;
	}
}

.golden-poppy-btn {
	color: $color__black !important;
}

.bsm-btn:hover,
.bsm-btn:focus {
	background: $golden_poppy !important;
}

.golden-poppy-bg.bsm-btn:focus,
.golden-poppy-bg.bsm-btn:hover {
	color: $color__black !important;
}

.bg-white {
	background-color: $color__white !important;
}
.white-color {
	color: $color__white !important;
}