input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    //padding: 0.5em 1em;
    &:focus {
        outline: none;
    }
}
input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input:not([type]), 
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.bsm-textarea {
    border-bottom: 1px solid $color__gainsboro;
}

.bg-nero {
    input:not([type]), 
    input[type=text]:not(.browser-default), 
    input[type=password]:not(.browser-default), 
    input[type=email]:not(.browser-default), 
    input[type=url]:not(.browser-default), 
    input[type=time]:not(.browser-default), 
    input[type=date]:not(.browser-default), 
    input[type=datetime]:not(.browser-default), 
    input[type=datetime-local]:not(.browser-default), 
    input[type=tel]:not(.browser-default), 
    input[type=number]:not(.browser-default), 
    input[type=search]:not(.browser-default), 
    textarea.bsm-textarea {
        border-bottom: 1px solid $color__border-five;
    }
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.bsm-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $bright_turquoise;
    box-shadow: 0 1px 0 0 $bright_turquoise;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("../images/angle.png") no-repeat scroll 95% 50%;
    option[selected] {
        //color: $color__white;
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
    -webkit-text-fill-color: $color_text_main !important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
    -webkit-text-fill-color: $color_text_main !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    @include prefixed(transition,
    background-color 5000s ease-in-out 0s);
}

textarea {
    display: block;
    width: 100%;
    font-size: 0.8em;
    padding-left: 3px;
    display: block;
}

input,
select,
textarea {
    margin: 0;
    border: none;
    vertical-align: baseline;
    font-size: 100%;
    font-weight: 400;
    @include prefixed(transition,
    all 0.25s ease);
}

// Placeholder Color
::-webkit-input-placeholder {
    color: $color__meta;
}
.widget_newsletter::-webkit-input-placeholder {
    color: #808080;
}

:-moz-placeholder {
    color: $color__meta;
    opacity: 1;
}

::-moz-placeholder {
    color: $color__meta;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $color__meta;
}

// Form Controls
.form-controller {
    font-size: 13px;
    border: 1px solid $color__border-one;
    background: $color__white;
    width: 100%;
    padding: 0.5em 1em;
    outline: none;
    &:focus {
        border-color: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

// Post password Form
.post-password-form {
    input[type="password"] {
        font-size: 14px;
        border: 1px solid #f0f0f0;
        outline: none;
        box-sizing: border-box;
        padding: 10px;
    }
    input[type="submit"] {
        padding: 15px 30px;
        position: relative;
        top: 0;
        font-size: 14px;
    }
}

.reservation-form {
    margin: 60px 0 30px;
    [class*='col-'] {
        i {
            position: absolute;
            top: 50%;
            margin-top: -18px;
            right: 27px;
        }
    }
    .form-contol {
        background-color: #ffffff !important;
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        box-sizing: border-box !important;
        padding: 0 15px !important;
        font-size: 14px !important;
    }
    .input-success, 
    .input-error {
        float: left;
        width: 100%;
        clear: both;
        margin-top: 15px;
        margin-bottom: 0;
        padding: 5px 15px;
        display: none;
        text-align: center;
    }
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, 
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, 
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
    background: $color__citrus;
    box-shadow: $color__citrus 0 1px 3px 0 inset;
}
.newsletter-block-v2 {
    .form-controller {
        background-color: #ffffff !important;
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        box-sizing: border-box !important;
        padding: 0 15px !important;
        font-size: 14px !important;
        text-align: center;
    }
}
.form-content {
    margin: auto;
    display: table;
    width: 100%;
}

.quote-form-block {
    position: relative;
    .modal-close {
        font-size: 40px;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    .successform,
    .errorform {
        display: none;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
    .successform {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    .errorform {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    .form-title {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .quote-form {
        padding: 30px;
    }
    .form-control,
    input.select-dropdown,
    .wpcf7-form-control:not([type="submit"]) {
        background-color: #ffffff !important;
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        box-sizing: border-box !important;
        padding: 0 15px;
        font-size: 14px !important;
    }
    .form-control {
        padding: 0 15px !important;
    }
    label,
    .wpcf7-form-control:not([type="submit"]) {
        width: 100%;
    }
    .bsm-textarea,
    .wpcf7-textarea {
        min-height: 150px !important;
        padding-top: 15px !important;
    }
    .wpcf7-textarea {
        border-bottom: 1px solid #ddd;
    }
    .bsm-select-wrapper span.caret {
        right: 15px;
        color: #777 !important;
        z-index: 2;
    }
    .wpcf7-submit {
        font-size: 14px;
        letter-spacing: 0.015em;
        padding: 12px 45px;
        font-weight: 600;
    }
    input[type="checkbox"] + label {
        width: auto;
    }
    .bsm-dropdown-content li>span>label {
        top: 10px;
    }
    .bsm-select-wrapper.wpcf7-form-control {
        border-bottom: 1px solid #ddd;
    }
    .bsm-select-wrapper.wpcf7-form-control input.select-dropdown {
        border: 0 none !important;
        margin-bottom: 0;
    }
}