// Initial color
$color__white: #ffffff;            	// White
$color__black: #000000;            	// White
$color__grey: #a5a5a5;             	// grey
$color__charcoal: #484848;         	// Charcoal
$color__nero: #1e1e1e;         		// Nero
$color__nero-50: #282828;         	// Nero 50%
$color__night_rider: #2e2e2e;      	// Night Rider
$white_smoke: #f7f7f7;  			// White Smoke
$snow: #f9f9f9;  					// Snow
$color__gainsboro: #dddddd;  		// Gainsboro
$black_russian: #0d1422;  		// Black Russian
$color__background-main: #f7f7f7;  	// Post area background
$color__footer-bg: #222222;  	   	// Footer area background

$color__background-ins: #fff9c0; 
$color__text-screen: #21759b;

//Text color
$color_text_main: #636363;             // body text main color
$color__heading: #1d1d1f;           // Heading color
$color__menu-text: #282828;			// Menu text color
$color__widget-text: #cbcaca;		// Widget text color
$color__meta: #b3b3b3;				// Post meta color
$color__meta-footer: #515151;		// Post Footer meta color
$color__meta-widget: #8b8b8b;		// Post Footer meta color
$color__footer: #7e7e7e;			// Post Footer text-color
$color__novel: #999999;				// Color Nobel
$color__ligth-gray: #d2d2d2;		// Light Gray

//border color
$color__border-one: #ebebeb; 		// Widget. Feature background Stock 
$color__border-two: #e1e1e1; 		// featured and trending border
$color__border-three: #d2d2d2; 		// Menu after content color
$color__border-four: #f0f0f0;		// Post heading, widget border-bottom
$color__border-five: #646464;		// Footer Widget border

$color__border-dark: #d6d6d6;
$color__border-dark-two: #dcdcdc;	// For Menu border bottom
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__dim_gray: #6f6f6f;			// Dim gray
$color__gray: #888888;				// gray
$color__darkgray: #aeaeae;			// Dark gray
$color__matterhorn: #4f4f4f;		// gray

//Theme and other color
$color__theme-main: #21b360;  		// Theme and hover color
$header__footer-bg: #f7faf9;		// For Header And Footer And Menu Background

$color_nevy: #232C3B;             	// Nevy blue
$color_yellow: #F9F500;           	// yellow
$color_Matterhorn: #4b4b4b;       	// Matterhorn
$color_green: #0cc919;            	// Matterhorn

$color_golden: #ffcc00;           	// golden
$golden_poppy: #f8c000;           	// Golden Poppy
$tangerine_yellow: #ffcc00;       	// Tangerine Yellow

$bright_turquoise: #03dedf;			//Bright Turquoise
$color__citrus: #94b800;			// Citrus
$color__orange: #ffa800;			// Orange Color