$font_heading: 'Poppins', sans-serif;
$font_body: 'Poppins', sans-serif;
$font_montserrat: 'Montserrat', sans-serif;
$font_mr_dafoe: 'Mr Dafoe', cursive;

$base__font-size: 14px;
$heading__one: 2.441em;
$heading__two: 1.953em;
$heading__three: 1.563em;
$heading__four: 1.25em;
$heading__five: 1em;
$heading__six: 0.8em;

$font__line-height-body: 1.45em;
$font__line-height-heading: 1.4em;
$font__line-height-paragraph: 1.75em;

$font__line-height-pre: 1.6em;