body {
	background: $color__white; /* Fallback for when there is no custom background color defined. */
	word-wrap: break-word;
	overflow-x: hidden;
}

q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote .small::before,
blockquote footer::before,
blockquote small::before {
	margin-left: 18px;
} 
blockquote {
	font-size: 16px;
	font-style: italic;
	line-height: 1.75em;
	color: $color__dim_gray;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "lists";


@import "tables";

/*--------------------------------------------------------------
# Basic Element
--------------------------------------------------------------*/
.block-img {
	display: block;
}
.mfp-close {
	color: $color__white !important;
}
.full-content {
	float: none;
	margin: auto;
}
.full-width {
	width: 100%;
}
.jarallax {
	position: relative;
}
.inline-block {
	display: inline-block;
}
.overlay-bg {
	position: relative;
	background-size: cover;
	background-position: center center;
	&:before {
		content: "";
		position: absolute;
		background-color: rgba(#0d1422 ,0.85);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	> div {
		position: relative;
	}
}
.bsm-dropdown-content {
	list-style: none;
	padding: 0;
}
.bg-cover {
	background-size: cover;
	background-position: center center;
}
.overlay-bg-snow {
	position: relative;
	background-size: cover;
	background-position: center center;
	&:before {
		content: "";
		position: absolute;
		background-color: rgba(#fff ,0.95);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}
.overlay-bg-snow-95 {
	position: relative;
	background-size: cover;
	background-position: center center;
	&:before {
		content: "";
		position: absolute;
		background-color: rgba(#fff ,0.95);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}
.no-border {
	border: 0 none !important;
}
.overflow-hide {
	overflow: hidden;
}
.border-top {
	border-top: 1px solid #ddd;
}
.border-bottom {
	border-bottom: 1px solid #ddd;
}
.fl-none {
	float: none !important;
}
.mb-fl-none {
	@media only screen and (max-width: 800px) {
		float: none !important;
	}
}
.mb-text-center {
	@media only screen and (max-width: 767px) {
		text-align: center !important;
	}
}
.white-space {
	display: block;
	width: 100%;
	overflow: hidden;
}
.space-element {
	display: block;
	overflow: hidden;
	margin-bottom: 60px;
	padding-top: 60px;
}
/*--------------------------------------------------------------
# All Margin Element
--------------------------------------------------------------*/
.df-mrb {
	margin-bottom: 30px;
}
.mrt-less-35 {
	margin-top: -35px;
}
.mrt-less-75 {
	margin-top: -75px;
}
.mrb-45 {
	margin-bottom: 45px !important;
}
.mrt-0 {
	margin-top: 0px !important;
}
.mrt-10 {
	margin-top: 10px;
}
.mrt-15 {
	margin-top: 15px;
}
.mrt-25 {
	margin-top: 25px;
}
.mrt-30 {
	margin-top: 30px;
}
.mrt-45 {
	margin-top: 45px;
}
.mrt-90 {
	margin-top: 90px;
}
.mb-mrtl-0 {
	@media only screen and (max-width: 990px) {
	    margin-top: 0px;
	}
}
.mrl-30 {
	margin-left: 30px;
}
.mrl-40 {
	margin-left: 40px;
}
.mrl-48 {
	margin-left: 48px;
}
.mb-mrl-40 {
	@media only screen and (max-width: 767px) {
		margin-left: 40px;
	}
}
.mb-mrb-30 {
    @media only screen and (max-width: 767px) {
    	margin-bottom: 30px;
    }
}
.mrb-0 {
    margin-bottom: 0;
}
.mrt-less-105 {
	margin-top: -105px;
}
.mrt-less-60 {
	margin-top: -60px;
}
.mrl-40 {
	margin-left: 40px;
}
.mrr-40 {
	margin-right: 40px;
}
.mrt-less-47 {
	margin-top: -47px;
}
.mb-mrt-0 {
	@media only screen and (max-width: 992px) {
		margin-top: 0;
	}
}
.mb-mr-0 {
	@media only screen and (max-width: 992px) {
		margin: 0 !important;
	}
}
.mrb-60 {
	margin-bottom: 60px;
}
.mrb-75 {
	margin-bottom: 75px;
}
.mrb-90 {
	margin-bottom: 90px;
}
.mr-0 {
	margin: 0;
}
/*--------------------------------------------------------------
# All Padding Element
--------------------------------------------------------------*/
.pd-zero {
	padding: 0 !important;
}
.pd-lr-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.pd-5 {
	padding: 5px;
}
.pd-20 {
	padding: 20px;
}
.pdl-15 {
	padding-left: 15px !important;
}
.pd-b-90 {
	padding-bottom: 90px;
}
.pd-tb-13 {
	padding: 13px 0;
}
.pd-tb-15 {
	padding: 15px 0;
}
.pd-tb-17 {
	padding: 17px 0 !important;
}
.pd-tb-30 {
	padding: 30px 0;
}
.pd-tb-45 {
	padding: 45px 0;
}
.pd-tb-60 {
	padding: 60px 0;
}
.pd-t-60-b-90 {
	padding-top: 60px;
	padding-bottom: 90px;
}

.pd-t-60-b-120 {
	padding: 60px 0 120px;
}
.pdml-0 {
	@media only screen and (max-width: 992px) {
		padding-left: 0 !important;
	}
}
.pd-tb-90 {
	padding: 90px 0;
}
.pd-t-90 {
	padding-top: 90px;
}
.pd-t-90-b-30 {
	padding: 90px 0 30px;
}
.pd-t-90-b-60 {
	padding: 90px 0 60px;
}
.pd-t-120-b-90 {
	padding: 120px 0 90px !important;
}
.pd-tb-120 {
	padding: 120px 0;
}
.pd-tb-175 {
	padding: 175px 0;
}
.pd-t-175-b-90 {
	padding-top: 175px;
	padding-bottom: 90px;
}
.pd-t-150-b-90 {
	padding-top: 150px;
	padding-bottom: 90px;
}
.pd-t-200-b-175 {
	padding-top: 200px;
	padding-bottom: 175px;
}
.pd-t-235-b-175 {
	padding-top: 235px;
	padding-bottom: 175px;
}
.pdm-tb-75 {
	@media only screen and (max-width: 992px) {
		padding: 75px 0;
	}
}
/*--------------------------------------------------------------
# All Color Element 
--------------------------------------------------------------*/
.bg-bl-transparent {
	background: rgba(0,0,0,0.9);
}
.bg-bl-russian {
	background: $black_russian;
}
.bg-snow {
	background: $snow;
}
.bg-nero {
	background: $color__nero;
}
.color-white {
	color: $color__white;
}
.color-orange {
	color: $color__orange !important;
}
.color-snow {
	color: $snow;
}
.bg-light-gray {
	background: $color__ligth-gray;
}
.bg-black {
	background-color: $color__black;
}
.bg-gray {
	background-color: $white_smoke !important;
}
.golden-poppy {
	color: $golden_poppy !important; 
}
.golden-poppy-bg {
	background-color: $golden_poppy; 
}
.golden-poppy-btn {
	background-color: $golden_poppy !important;
}
.bg-nero {
	background: $color__nero;
}
.bg-nero-50 {
	background: $color__nero-50;
}
.color-citrus {
	color: $color__citrus !important;
}
.dropdown-menu li a:hover, 
.dropdown-menu li a:focus, 
.dropdown-menu li a:active {
	background-color: $bright_turquoise;
	color: $color__white !important;
}

.top-orange-border {
	.navigation .mainmenu > li > a:after {
		//border-color: $color__orange;
	}
}

.resturent-title-border {
	position: relative;
	.lit-restaurent-knife {
		font-size: 60px;
		color: $color__citrus;
	}
	&:before,
	&:after {
		content: "";
		background: #eeeeee;
		width: 230px;
		height: 1px;
		position: absolute;
		top: 50%;
		z-index: -1;
		@media only screen and (max-width: 767px) {
			width: 100px;
		}
	}
	&:before {
		left: -15px;
		@media only screen and (max-width: 767px) {
			left: 75px;
		}
		@media only screen and (max-width: 460px) {
			left: 0;
		}
	}	
	&:after {
		right: -15px;
		@media only screen and (max-width: 767px) {
			right: 75px;
		}
		@media only screen and (max-width: 767px) {
			right: 0;
		}
	}
	&.with-slider {	
		&:before {
			left: -260px;
			@media only screen and (max-width: 767px) {
				left: 90px;
			}
			@media only screen and (max-width: 460px) {
				left: 50px;
			}
		}	
		&:after {
			right: -260px;
			@media only screen and (max-width: 767px) {
				right: 90px;
			}
			@media only screen and (max-width: 767px) {
				right: 50px;
			}
		}
	}
	&.dark-border {
		&:before,
		&:after {
			background: #525252;
		}
	}
}

/*--------------------------------------------------------------
# All Gradients 
--------------------------------------------------------------*/
.row {
	&.item-4 {
	    .item:nth-child(4n+1) {        
	        @media only screen and (min-width: 992px) {
	            clear: left;
	        }
	    }    
	}
	&.item-3 {
	    .item:nth-child(3n+1) {        
	        @media only screen and (min-width: 992px) {
	            clear: left;
	        }
	    }    
	}
	&.item-2 {
	    .item:nth-child(2n+1) {        
	        @media only screen and (min-width: 992px) {
	            clear: left;
	        }
	    }    
	}    
	&.item-1 {
	    .item:nth-child(n+1) {        
	        @media only screen and (min-width: 992px) {
	            clear: left;
	        }
	    }    
	}
	.item:nth-child(2n+1) {
	    @media only screen and (max-width: 992px) {
	        clear: left;
	    }
	}    
	.item:nth-child(n+1) {
	    @media only screen and (max-width: 520px) {
	        clear: left;
	    }
	}
	&[class*="item-"] {
		[class*="col-"] {
		    @media only screen and (max-width: 520px) {
		        width: 100%;
		    }
		}
	}
}
.item-sm {
	[class*="col-"] {
	    @media only screen and (max-width: 992px) {
	        width: 100%;
	    }
	}
}
section[data-kc-fullwidth] {
	.litmus-container {
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	    @media (min-width: 768px) {
	        width: 750px;
	    }
	    @media (min-width: 992px) {
	        width: 970px;
	    }
	    @media (min-width: 1200px) {
	        width: 1140px;
	    }
	    &.container-xl {
	    	@media only screen and (min-width: 1500px) {
	    		width: 1450px;
	    	}
	    }
	}
}

.breadcrumbs {
    font-weight: 400;
    font-size: 14px !important;
    position: relative;
    padding: 15px 0;
    margin: 0 !important;
    .last-item {
        color: $bright_turquoise;
    }
    .separator {
        font-weight: normal;
        padding: 0 5px;
        font-size: 16px;
        position: relative;
        top: 1px;
    }
    &.citrus-theme {
    	.last-item {
    	    color: $color__citrus;
    	}
    }
    &.orange-theme {
    	.last-item {
    	    color: $color__orange;
    	}
    }
}

.accordion {
	.card {
		border: 0 none;
	}
	.card-header a:after {
	    font-family: 'FontAwesome';
	    content: "\f106";
	    float: right;
	    font-size: 20px;
	}
	.card-header a.collapsed:after {
	    content: "\f107";
	}
	.card-header {
		background: transparent;
		border-bottom: 0 none;
		padding: 20px 0;
		&.collapsed {
			border-bottom: 1px solid #ddd;
		}
	}
	.card-title {
		font-weight: 600;
		text-transform: uppercase;
		color: $color__heading !important;
		font-family: $font_montserrat;
	}
}

.bsm-dropdown-content li>a, 
.bsm-dropdown-content li>span {
	color: inherit;
}