/*--------------------------------------------------------------
# Post, Page, Comments Table
--------------------------------------------------------------*/
.tb {
	display: table;
	width: 100%;
	.tb-cell {
		display: table-cell;
		vertical-align: middle;
		&[class*="col-"] {
			float: none;
		}
	}
}
.tb-main {
	@media only screen and (min-width: 992px) {
		display: table;
	}
	.tb-cell {
		@media only screen and (min-width: 992px) {		
			display: table-cell;
			vertical-align: middle;
			&[class*="col-"] {
				float: none;
			}
		}
	}
}

body:not(.woocommerce-page) {
	.article-content {
		table {
			margin-bottom: 30px;
			td, th {
				border: 1px solid #ddd;
				padding: 15px;
			}
		}
	}
}

.comment-content {
	table {
		margin-bottom: 30px;
		td, th {
			border: 1px solid #ddd;
			padding: 15px;
		}
	}
}