/*--------------------------------------------------------------
# blog-single
--------------------------------------------------------------*/
.single-content {
	padding: 40px;
	border: 1px solid $color__border-one;
	@media only screen and (max-width: 520px) {
		padding: 20px;
	}
}
.single-blog {
	margin-top: 35px;
}
.blog-section-content {
	.blog-sidebar {
		@media only screen and (max-width: 767px) {
			margin-top: 30px;
		}
	}
}
.blog-single-page {
	.entry-title {
		margin: 5px 0 15px;
	}
	.article-thumb {
		margin-bottom: 30px;
	}
	.entry-meta {
		> div:after {
			content: "" !important;
		}
		> div:before {
			margin-right: 5px;
		}
		.entry-date:before {
			content: "\f017";
			font-family: FontAwesome;
			font-size: 16px;
		}
		.entry-cat:before {
			content: "\f07c";
			font-family: FontAwesome;
			font-size: 16px;
		}
		.entry-tag:before {
			content: "\f292";
			font-family: FontAwesome;
			font-size: 16px;
		}		
	}
	.article-content {
		ul, ol {
			li {
				margin-top: 10px;
				line-height: 1.6em;
			}
		}
		> ul,
		> ol {
			padding-left: 20px;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		table {
			margin-bottom: 30px;
		}
	}
}

.entry-share {
	span {
		font-weight:600;
	}
	a {
		padding: 5px;
		i {
			color: $color__footer;
			font-size: 15px;
			&:hover {
				color: $color__black;
			}
		}
	}
}
.gallery-columns-4 .gallery-item {
	img {
		border-radius: 5px;
		@media only screen and (max-width: 560px) {
			width: 100%;
		}
	}
}
@media only screen and (max-width: 992px) {
	.post-content .single-post .entry-meta {
	    margin-bottom: 15px;
	    border-bottom: 1px solid #ebebeb;
	}
}
@media only screen and (max-width: 992px) {
  .post-content .entry-meta > div {
    margin-right: 15px;
    float: none;
    display: inline-block;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 992px) {
  .post-content .entry-meta .meta-title {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .post-content .entry-meta .entry-date:before {
    content: "\f017";
    font-family: FontAwesome;
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .post-content .entry-meta .entry-category:before {
    content: "\f07c";
    font-family: FontAwesome;
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .post-content .entry-meta .entry-tag:before {
    content: "\f292";
    font-family: FontAwesome;
    font-size: 16px;
  }
}
