/*--------------------------------------------------------------
# Author about
--------------------------------------------------------------*/
.about-img-block {
    box-shadow: 0 0 45px 0 rgba(0,0,0,0.14);
    .bsm-card-image {
        padding: 20px 20px 10px;
    }
    .bsm-card-content {
        padding-top: 0;
        padding-bottom: 10px;
        h4 {
            color: $color__gray !important;
            font-size: 14px;
            margin: 20px 0;
            strong {
                color: $color__black !important;
                text-transform: uppercase;
                margin-right: 5px;
            }
        }
    }
    @media only screen and (min-width: 992px) {
        margin-right: 30px;
    }
    .tb, .tb-cell {
        @media only screen and (max-width: 650px) {
            display: block;
        }
    }
}
.about-desc {
    @media only screen and (max-width: 992px) {
        margin-top: 60px;
    }
    .desc-header {
        margin-bottom: 30px;
        .say-hello {
            font-weight: 800;
            font-size: 22px;
            margin-bottom: 0;
            color: $color__matterhorn;
        }
        .desc-title {
            font-size: 28px;
            font-weight: 800;
            margin-top: 10px;
        }
    }
    .btn-more {
        margin-top: 20px;
    }
}