.policy-container {
	text-align: center;
	.thumb-icon {
		font-size: 60px;
		padding-bottom: 30px;
		i {
			line-height: 1.12em;
		}	
	}
	.policy-desc {
		.policy-title {
			font-size: 18px;
			font-family: $font_montserrat;
		    text-transform: uppercase;
		    font-weight: 600;
		    color: inherit;
		    position: relative;
		    margin-bottom: 45px;
		    color: $color__black;
		    transition: color 0.25s ease-in;
		    &:after {
		    	content: "";
		    	width: 35px;
		    	height: 3px;
		    	background: $color__gainsboro;
		    	left: 0;
		    	right: 0;
		    	bottom: -25px;
		    	position: absolute;
		    	margin: auto;
		    }
		}
		.policy-content {
			color: $color__novel;
		    font-weight: 400;
		    font-size: 14px;
		    margin-bottom: 0;
		}
	}
	&.expertized-area {
		.policy-title {
			margin-bottom: 15px;
			&:after {
				background: transparent !important;
			}
		}
		.policy-content {
			color: #ababab;
			font-weight: 400;
			font-size: 16px;
			margin-bottom: 20px;
		}
		.item {
			margin-bottom: 60px;
			&:hover {
				.policy-title {
					color: inherit !important;	
				}
			}
			img {
				width: auto;
				display: block;
				margin: auto;
			}
		}
	}
	.item {
		margin-bottom: 60px;
		&:hover {
			.policy-title {
				color: $bright_turquoise;	
			}
		}
	}
	&.policy-xs-slider {
		.owl-dots {
			@media only screen and (max-width: 992px) {
				margin-left: 30px;
				margin-top: 0 !important;
				margin-bottom: 30px;
			}
		}
		@media only screen and (max-width: 500px) { 
			padding-left: 0;
		}
		@media only screen and (max-width: 992px) { 
			.owl-dots {
			    text-align: center;
			    margin-top: 30px;
			}
			.owl-dots .owl-dot.active {
			    border-color: $bright_turquoise;
			}
			.owl-dots .owl-dot {
			    width: 15px;
			    height: 15px;
			    display: inline-block;
			    margin-right: 10px;
			    border: 2px solid #777;
			    border-radius: 50px;
			}
		}
	}
}

.service-slider {
	margin-top: 60px;
	.item {
		border: 1px dashed $color__gainsboro;
		text-align: center;
		padding: 75px 30px;
		transition: all 0.25s ease-in;
		.thumb-icon {
			font-size: 60px;
			padding-bottom: 30px;
			color: #3a404b;
		}
		.service-desc {
			.service-title {
				font-size: 18px;
				font-family: $font_montserrat;
			    text-transform: uppercase;
			    font-weight: 600;
			    color: inherit;
			    position: relative;
			    color: $color__black;
			    transition: color 0.25s ease-in;
			}
			.service-content {
				color: $color__novel;
			    font-weight: 400;
			    font-size: 14px;
			    margin-bottom: 0;
			}
		}
		&:hover {
			background: $bright_turquoise;
			border: 1px solid $bright_turquoise;
			.thumb-icon,
			.service-title,
			.service-content {
				color: $color__white;
			}
		}
	}
	.owl-nav {
	    > div {
	    	position: absolute;
	        display: inline-block;
	        text-align: center;
	        font-size: 60px;
	        margin: 0 5px;
	        top: 50%;
			transform: translateY(-50%);
			color: $bright_turquoise;
	        &.disabled {
	            color: inherit;
	            cursor: not-allowed;
	        }
	    }
	    .owl-next {
	    	right: -105px;
	    }	    
	    .owl-prev {
	    	left: -105px;
	    }
	    @media only screen and (max-width: 767px) {
	    	display: none;
	    }
	}
}

.service-grid-title {
	font-size: 16px;
	font-weight: 700;
}

.our-service.style-two {
	.service-desc .service-title {
		margin-bottom: 15px;
		transition: all 0.35s ease-in-out;
	}
	.service-slider .item {
		border: 0 none;
		&:hover {
			.service-desc .service-title {
				position: relative;
				margin-bottom: 30px;
				&:after {
					content: "";
					background: #1490d7;
					height: 3px;
					width: 40px;
					position: absolute;
					bottom: -12px;
					left: 0;
					right: 0;
					margin: auto;
				}
			}
		}
		&:hover {
			background: #172938;
			border: 1px solid #172938;
			.thumb-icon,
			.service-title,
			.service-content {
				color: $color__white;
			}
		}
	}
}