/*--------------------------------------------------------------
# blog
--------------------------------------------------------------*/
.blog-content-block {
	.default-margin-bottom {
		margin-bottom: 60px;
	}
}
.no-post-found {
	text-align: center;
	    font-weight: 600;
	    display: block;
	    margin: auto;
	    border: 1px solid #ebebeb;
	    padding: 15px 30px;
	    color: #721c24;
	    background-color: #f8d7da;
	    border-color: #f5c6cb;
	    width: 97.2%;
}
.blog-post-ctn-area {
	@media only screen and (min-width: 992px) {
		padding-left: 30px;
	}
}
.item-searh {
	width: 100%;
}
.post {
	background-color: $color__white;
	&.sticky .article-header {
	  position: relative;
	  z-index: 1;
	}

	&.sticky .article-header:before {
	  content: "\f08d";
	  font-family: FontAwesome;
	  position: absolute;
	  right: 20px;
	  top: 20px;
	  font-size: 30px;
	  -webkit-transform: rotate(45deg);
	          transform: rotate(45deg);
	  color: #ddd;
	  z-index: -5;
	}
	.entry-date.no-title {
		a {
			color: #03dedf !important;	
		}
	}
	.article-thumb {
		img {
			display: block;
			margin: auto;
		}
	}
	.article-header {
		.entry-meta {
			color: $color__meta;
			font-size: 14px;
			font-weight: 400;
			overflow: hidden;
			a {
				color: inherit;
			}
			> div {
				display: inline-block;
				margin-right: 15px;
				position: relative;
				&:after {
					content: "/";
					position: relative;
					left: 8px;
					font-size: 11px;
				}
				&:last-of-type:after {
					content: "";
				}
			}
		}
		.entry-title {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.6;
			margin-top: 5px;
		}
	}
	.article-content > iframe {
		margin-bottom: 30px;
	}	
	.article-content > .fluid-width-video-wrapper > iframe {
		margin-bottom: 30px;
	}
	.article-content .read-more {
		display: none;
	}
	.article-v2 {
		padding: 0 15px;
		@media only screen and (max-width: 1200px) {
			margin-bottom: 45px;
		}
		.entry-title {
			font-size: 16px;
			color: #666666;
			font-weight: 600;
		}
		.article-header {
			margin-bottom: 15px;
		}
		.article-content-main {
			box-shadow: 1px 0px 20px 1px rgba(0,0,0,0.15);
			padding: 30px;
			position: relative;
			background: #fff;
			margin-top: -75px;
			@media only screen and (max-width: 1024px) {
				padding: 15px;
				margin-bottom: 30px;
			}
		}
		.article-content p:last-of-type {
			margin-bottom: 0;
		}
		.article-thumb {
			position: relative;
			left: 25px;
			margin-bottom: 0;
		}
		.article-footer {
			border-top: 1px solid #ebebeb;
			padding-top: 15px;
			margin-top: 20px;
			//opacity: 0;
			//display: none;
			.more-link {
				color: #ffa800;
			}
			.footer-meta {
				a {
					color: #aaa;
					font-size: 15px;
					margin-right: 5px;
					i {
						font-size: 16px;
					    margin-left: 2px;
					    position: relative;
					    top: 2px;
					}
				}
			}
		}
		&:hover {
			.article-footer {
				//display: block;
				//opacity: 1;
			}
		}
		
	}
}
.blog-content .post {
	margin-bottom: 30px;
}
.grid-of-blog,
.list-of-blog {
	.post {
		margin-bottom: 45px;
		.article-header .entry-title {
			font-size: 25px;
			font-weight: 700;
			line-height: 1.6;
			margin-top: 5px;
			margin-bottom: 0;
		}
		.read-more {
			position: relative;
			overflow: hidden;
			display: table;
			background: #03dedf;
			color: #fff !important;
			padding: 5px 18px;
			margin-top: 17px;
			font-weight: 500;
			font-size: 14px;
			border-radius: 3px;
		}
		.article-content {
			margin-top: 10px;
			.read-more {
				display: none;
			}
		}
	}
}
.posts-sorting {
	margin-bottom: 45px;
	label {
		font-size: 15px;
	    margin-bottom: 0;
	    position: relative;
	    margin-top: 11px;
	}
	.bsm-select-wrapper {
		input.select-dropdown {
			margin-bottom: 0;
			height: auto;
			line-height: normal;
			border-bottom: 0 none;
			font-size: 15px;
			font-weight: 600;
			color: $bright_turquoise;
			border: 1px solid #ebebeb;
			padding: 10px 15px;
			border-radius: 30px;
			box-sizing: border-box !important;
		}
		.caret {
			right: 8px;
		}
	}

	.bsm-dropdown-content li>a, 
	.bsm-dropdown-content li>span {
		font-weight: normal;
		color: $bright_turquoise;
	}
	> .row > .col-6 {
		.col-5 {
			padding-right: 0;
			margin-right: -15px;
			@media only screen and (max-width: 767px) {
				margin-right: 0;
			}
		}
		.col-7 {
			padding-left: 0;
		}
	}
	&.citrus-theme {
		.bsm-select-wrapper {
			.select-dropdown {
				color: $color__citrus;
			}
		}
	}
}

.blog-layout-tab-menu {
	text-align: right;
	overflow: hidden;
	padding: 0;
	@media only screen and (max-width: 1199px) {
		display: block !important;
	}
	.bsm-tab {
		line-height: 46px;
		@media only screen and (max-width: 1199px) {
			flex-grow: 0;
		}
	}
	.bsm-tab a {
		padding: 0;
		color: #888;
	}
	.bsm-indicator {
		display: none;
	}
	li {
		margin-left: 15px !important;
		a {
			display: block;
			font-size: 20px !important;
		}
	}
	.icon-arrows-squares {
		font-size: 17px;
	}
	.icon-arrows-hamburger1 {
		font-size: 32px;
		position: relative;
		top: 2px;
	}
	&.v-2 {
		text-align: left;
		li {
			margin-left: 0px !important;
			margin-right: 15px !important;
		}
	}
	&.citrus-theme {
		.bsm-tab a {
			&.active {
				color: $color__citrus !important;
			}
		}
	}	
}

.blog-slider {
	margin-top: 45px;
	.owl-nav {
	    > div {
	    	position: absolute;
	        display: inline-block;
	        text-align: center;
	        font-size: 60px;
	        margin: 0 5px;
	        top: 50%;
			transform: translateY(-50%);
	        &.disabled {
	            color: inherit;
	            cursor: not-allowed;
	        }
	    }
	    .owl-next {
	    	right: -105px;
	    	@media only screen and (max-width: 1200px) {
	    	    right: -35px;
	    	}
	    }	    
	    .owl-prev {
	    	left: -105px;
	    	@media only screen and (max-width: 1200px) {
	    	    left: -35px;
	    	}
	    }
	    @media only screen and (max-width: 767px) {
	        display: none;
	    }

	}
	&.citrus-theme {
		.owl-nav > div {
			color: $color__citrus;
			&.disabled {
			    color: inherit;
			    cursor: not-allowed;
			}
		}
	}
	.hentry {
		margin-bottom: 30px;
	}
	.owl-dots {
		@media only screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}
}

.blog-single-page {
	.entry-title {
		font-size: 30px !important;
		font-weight: 700;
		line-height: 1.6;
		margin-top: 9px !important;
		margin-bottom: 15px !important;
	}
	.article-content {
		margin-bottom: 30px;
	}
}