/*--------------------------------------------------------------
# Header Top
--------------------------------------------------------------*/
.searchform {
	.form-group {
		margin-top: 0 !important;
		margin-bottom: 0;
	}
	.search-input {
		border: none;
		box-shadow: none;
		background-color: $white_smoke;
		border-radius: 20px;
		float: right;
		width: 90%;
		color: #757575;
		font-weight: 500;
		padding: 8px 15px;
		line-height: normal;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.input-group-btn {
		padding: 0;
	}
	.btn {
		padding: 11px 16px;
		border: none;
		border-radius: 20px;
		box-shadow: 0 0 0 rgba(0,0,0,0);
		&.btn-default {
			background-color: $white_smoke !important;
			margin-bottom: 0;
			i {
				color: $color__black;
			}
		}
	}
}

/*--------------------------------------------------------------
# Header Nero
--------------------------------------------------------------*/
.preloader-wrap {
    position: fixed;
    z-index: 999;
    background-color: #f6f6f6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.preloader-container {
	max-width: 50%;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -100px;
	.preloader-logo {
		margin-bottom: 30px;
	}
}
.bsm-progress {
	background-color: rgba($golden_poppy, 0.15);
	.indeterminate {
		background-color: $golden_poppy;
	}
}
.sticky-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	display: block;
	transition: all 0.5s;
	box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.4);
	z-index: 99;
}
.sticky-show {
	@media only screen and (min-width: 992px) {
		opacity: 1;
		transform: translateY(0);
	}
}
.sticky-header.bg-nero {
	background: $color__nero;
}
.sticky-hide {
	@media only screen and (min-width: 992px) {
		opacity: 0;
	  	transform: translateY(-40px);
	}
}
header.sticky-header + section {
	margin-top: 67px;
	@media only screen and (max-width: 992px) {
		margin-top: 62px;
	}
}

.site-header {
	border-bottom: 1px solid rgba($color__gainsboro, 0.10);
}

.header-left {
	.site-logo {
		a {
			display: block;
			padding: 35px 0;
		}
	}
}

//Header Right menu
.header-right {
	float: right;
	@media only screen and (max-width: 1199px) {
		margin-right: -15px;
	}
	.right-menu {
		list-style: none;
		padding-left: 0;
		display: block;
	    clear: both;
	    position: relative;
	    top: 5px;
		li {
			float: left;
			a {
				padding: 28px 13px;
				display: block;
				font-size: 20px;
				color: $color__white;
				.icon-arrows-hamburger-2 {
					font-size: 32px;
					position: relative;
					top: -6px;
				}
			}
			.user-registration {
				font-size: 24px;
				position: relative;
				top: -1px;
			}
		}
	}
}
.top-header {
	border-bottom: 1px solid #ddd;
	padding: 12px 0;
	.site-welcome {
		font-size: 14px;
		margin-bottom: 0;
		color: #777;
	}
	.support-phone {
		margin-bottom: 0;
		a {
			font-weight: 700;
		}
	}
}
.citrus-theme {
	.navigation .mainmenu > li > a {
		font-weight: 600;
		&:after {
			@media only screen and (min-width: 1199px) {
				border-bottom-color: $color__citrus;
			}
		}
		&.active,
		&:hover {
			color: $color__citrus;
		}
	}
	@media only screen and (min-width: 1199px) {
		.mainmenu .sub-menu {
			background: rgba(0, 0, 0, 0.9) !important;
		}
	}
	&.hamburger-block .expand-block {
		background: rgba(0, 0, 0, 0.9) !important;
	}
	.overlaybg {
		background: rgba(0, 0, 0, 0.65) !important;
	}
	&.overlay-search {
		background: rgba(0, 0, 0, 0.85) !important;
	}
	&.login-register-modal .modal-content {
		background: rgba(0, 0, 0, 0.9) !important;
	}
	&.login-register-modal .bsm-tabs {
		background: #1d1d1f;
	}
	.expand-block .hamburger-content ul li a:after {
		color: $color__citrus;
	}
	.purchase-btn {
		border: 2px solid $color__citrus !important;
		color: $color__citrus !important;
	}
	input:focus,
	input[type=text]:focus,
	input[type=email]:focus,
	input[type=password]:focus,
	input[type=email]:focus,
	input[type=number]:focus,
	textarea.bsm-textarea:focus {
		border-bottom: 1px solid $color__citrus !important;
		-webkit-box-shadow: 0 1px 0 0 $color__citrus !important;
		box-shadow: 0 1px 0 0 $color__citrus !important;
	}
	input[type="text"]:-webkit-input-placeholder {
	    color: #777;
	}
	input[type="text"]::-webkit-input-placeholder {
	    color: #777;
	}

	input[type="text"]:-moz-placeholder {
	    color: #777;
	    opacity: 1;
	}

	input[type="text"]::-moz-placeholder {
	    color: #777;
	    opacity: 1;
	}

	input[type="text"]:-ms-input-placeholder {
	    color: #777;
	}
	&.login-register-modal .bsm-tabs .bsm-tab a:hover, 
	&.login-register-modal .bsm-tabs .bsm-tab a.active {
		color: $color__citrus;
	}
	&.login-register-modal .bsm-tabs .bsm-indicator {
		background-color: $color__citrus;
	}
	&.login-register-modal .bsm-btn {
		color: $color__citrus !important;
		border-color: $color__citrus !important;
	}	
	&.login-register-modal {
		input:not([type]):focus:not([readonly]) + label,
		input[type=text]:not(.browser-default):focus:not([readonly]) + label,
		input[type=password]:not(.browser-default):focus:not([readonly]) + label,
		input[type=email]:not(.browser-default):focus:not([readonly]) + label,
		input[type=number]:not(.browser-default):focus:not([readonly]) + label,
		textarea.bsm-textarea:focus:not([readonly]) + label {
		  color: $color__citrus;
		}
		[type="checkbox"]:checked+label:before {
			border-right: 2px solid $color__citrus;
			border-bottom: 2px solid $color__citrus;
		}
	}
	&.overlay-search .search-footer-title span {
		color: $color__citrus !important;
	}
	.widget-content a:hover,
	ul li a:hover {
		color: $color__citrus !important;
	}
	.social-link li a:hover {
		border-color: $color__citrus;
		color: $color__citrus;
	}
}

.orange-theme {
	.navigation .mainmenu > li > a {
		font-weight: 600;
		&:after {
			@media only screen and (min-width: 1199px) {
				border-bottom-color: $color__orange;
			}
		}
		&.active,
		&:hover {
			color: $color__orange;
		}
	}
	@media only screen and (min-width: 1199px) {
		.mainmenu .sub-menu {
			background: rgba(0, 0, 0, 0.9) !important;
		}
	}
	&.hamburger-block .expand-block {
		background: rgba(0, 0, 0, 0.9) !important;
	}
	.overlaybg {
		background: rgba(0, 0, 0, 0.65) !important;
	}
	&.overlay-search {
		background: rgba(0, 0, 0, 0.85) !important;
	}
	&.login-register-modal .modal-content {
		background: rgba(0, 0, 0, 0.9) !important;
	}
	&.login-register-modal .bsm-tabs {
		background: #1d1d1f;
	}
	.expand-block .hamburger-content ul li a:after {
		color: $color__orange;
	}
	.purchase-btn {
		border: 2px solid $color__orange !important;
		color: $color__orange !important;
	}
	input:focus,
	input[type=text]:focus,
	input[type=email]:focus,
	input[type=password]:focus,
	input[type=email]:focus,
	input[type=number]:focus,
	textarea.bsm-textarea:focus {
		border-bottom: 1px solid $color__orange !important;
		-webkit-box-shadow: 0 1px 0 0 $color__orange !important;
		box-shadow: 0 1px 0 0 $color__orange !important;
	}
	input[type="text"]:-webkit-input-placeholder {
	    color: #777;
	}
	input[type="text"]::-webkit-input-placeholder {
	    color: #777;
	}

	input[type="text"]:-moz-placeholder {
	    color: #777;
	    opacity: 1;
	}

	input[type="text"]::-moz-placeholder {
	    color: #777;
	    opacity: 1;
	}

	input[type="text"]:-ms-input-placeholder {
	    color: #777;
	}
	&.login-register-modal .bsm-tabs .bsm-tab a:hover, 
	&.login-register-modal .bsm-tabs .bsm-tab a.active {
		color: $color__orange;
	}
	&.login-register-modal .bsm-tabs .bsm-indicator {
		background-color: $color__orange;
	}
	&.login-register-modal .bsm-btn {
		color: $color__orange !important;
		border-color: $color__orange !important;
	}	
	&.login-register-modal {
		input:not([type]):focus:not([readonly]) + label,
		input[type=text]:not(.browser-default):focus:not([readonly]) + label,
		input[type=password]:not(.browser-default):focus:not([readonly]) + label,
		input[type=email]:not(.browser-default):focus:not([readonly]) + label,
		input[type=number]:not(.browser-default):focus:not([readonly]) + label,
		textarea.bsm-textarea:focus:not([readonly]) + label {
		  color: $color__orange;
		}
		[type="checkbox"]:checked+label:before {
			border-right: 2px solid $color__orange;
			border-bottom: 2px solid $color__orange;
		}
	}
	&.overlay-search .search-footer-title span {
		color: $color__orange !important;
	}
	.widget-content a:hover,
	ul li a:hover {
		color: $color__orange !important;
	}
	.social-link li a:hover {
		border-color: $color__orange;
		color: $color__orange;
	}
}

.user-cart {
	.budge {
		font-size: 10px;
		position: absolute;
		background: $bright_turquoise;
		min-width: 20px;
		min-height: 10px;
		text-align: center;
		color: #fff;
		border-radius: 50px;
		margin-top: -10px;
		margin-left: -10px;
	}
}
.citrus-theme {
	.user-cart .budge {
		background: $color__citrus;
	}
}

.header-three {
	.navigation .mainmenu > li > a {
		color: #333;
		font-weight: 600;
		&:after {
			@media only screen and (min-width: 1199px) {
				bottom: auto;
				top: 0;
				border-bottom-color: $color__orange;
			}
		}
	}
	.header-right .right-menu li a {
		color: #333;
		@media only screen and (max-width: 767px) {
			padding: 28px 8px;
		}
	}
}



//overlay-search
.overlay-search {
	background: rgba($black_russian, 0.90);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
	.overlay-close {
		background: transparent;
		padding: 0;
		font-size: 60px;
		color: $color__white;
		border: 0 none;
		font-weight: normal;
		position: absolute;
		right: 30px;
		top: 15px;
 	}
 	.header-search-content {
 		position: absolute;
 		top: 50%;
 		left: 0;
 		right: 0;
 		transform: translateY(-50%);
 	}
 	.search-title {
 		color: $color__white;
 		position: relative;
 		font-size: 14px;
 		text-transform: uppercase;
 	}
 	.search-footer-title {
 		font-size: 14px;
 		font-weight: 300;
 		text-align: right;
 		color: $color__white;
 		span {
 			color: $bright_turquoise;
 		}
 	}
 	.input-group-btn {
 		display: none;
 	}
 	.form-controller {
 		background: $color__white !important;
 		border: 0 none !important;
 		margin-bottom: 10px !important;
 		padding: 8px 39px !important;
 		border-radius: 30px !important;
 	}
}

.login-register-modal {
	font-family: $font_montserrat;
	.modal-header {
		border-bottom: 0 none;
	}
	.modal-dialog {
		margin-top: 100px;
	}
	.close {
		position: absolute;
		right: 8px;
		top: 8px;
		font-size: 30px;
		&:focus {
			background: transparent;
		}
	}
	.modal-body {
		padding: 20px 30px 30px;
	}
	.modal-content {
		background: #0f1a30;
	}
	.bsm-tabs {
		background: #16223c;
		text-align: center;
	}
	.bsm-tab-content {
		padding: 5px;
	}
	.user-board {
		color: #fff;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				padding-top: 10px;
				i {
					margin-right: 10px;
				}
			}
		}
	}
	input:not([type]), 
	input[type=text]:not(.browser-default), 
	input[type=password]:not(.browser-default), 
	input[type=email]:not(.browser-default), 
	input[type=url]:not(.browser-default), 
	input[type=time]:not(.browser-default), 
	input[type=date]:not(.browser-default), 
	input[type=datetime]:not(.browser-default), 
	input[type=datetime-local]:not(.browser-default), 
	input[type=tel]:not(.browser-default), 
	input[type=number]:not(.browser-default), 
	input[type=search]:not(.browser-default), 
	textarea.bsm-textarea {
		color: $color__white;
		border-bottom: 1px solid rgba($color__gainsboro, 0.10);
	}
	.remember-field {
		margin: 10px 0 20px;
	}
	.bsm-btn {
		height: auto;
		padding: 5px 50px;
		font-size: 14px;
		letter-spacing: normal;
		font-weight: 600;
	}
	.bsm-input-field {
		font-size: 14px;
	}
	.bsm-input-field label {
		font-size: 14px;
	}
	.bsm-tabs .bsm-tab a {
		color: $color__white;
		font-weight: 500;
		letter-spacing: 0.015em;
	}
	.bsm-tabs .bsm-tab a:hover, 
	.bsm-tabs .bsm-tab a.active {
		color: #03dedf;
	}
	.bsm-tabs .bsm-indicator {
		background-color: #03dedf;
	}
	.bsm-btn {
		background: transparent !important;
		border: 2px solid $bright_turquoise;
		color: $bright_turquoise;
		border-radius: 30px;
		&:hover {
			border-color: rgba($bright_turquoise, 0.75);
			color: rgba($bright_turquoise, 0.75);
		}
	}
}
.hamburger-search-form {
	.form-controller {
		border-bottom: 0 none !important;
		height: 45px !important;
		padding-left: 46px !important;
		margin-bottom: 0 !important;
		color: $color__white;
		&::-webkit-input-placeholder { 
		    color: #0f1a30;
		}
		&:-moz-placeholder {
		   color: #0f1a30;
		   opacity:  1;
		}
		&::-moz-placeholder {
		   color: #0f1a30;
		   opacity:  1;
		}
		&:-ms-input-placeholder {
		   color: #0f1a30;
		}
	}
	.btn.btn-default {
		background: transparent !important;
		padding-left: 0;
		i {
			color: $color__white;
		}
	} 
	.input-group-btn {
		position: absolute;
		left: 0;
	}
}
.lm-left {
	@media (min-width: 1200px) {
		-ms-flex: 0 0 16.666667;
		-webkit-box-flex: 0;
		flex: 0 0 16.666667;
		max-width: 16.666667;
	}
}
.lm-middle {
	@media (min-width: 1200px) {
		-ms-flex: 0 0 60.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 60.666667%;
		max-width: 60.666667%;
	}
}
.lm-right {
	@media (min-width: 1200px) {
		-ms-flex: 0 0 22.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 22.666667%;
		max-width: 22.666667%;
	}
}
.site-header.creative-v2 {
	border-bottom: 0 none;
	@media only screen and (min-width: 1199px) {	
		.navigation .mainmenu > li > a span {
		    color: #ebebeb !important;
		}
	}
}
.site-logo .site-title a {
	padding: 0 !important;
}
.site-logo .site-title {
	margin-bottom: 0;
	padding-top: 15px;
}
.site-logo .site-description {
	padding-bottom: 15px;
}

.builder-navigation {
	.menu-content {	
		@media only screen and (max-width: 1199px) {
			display: none;
		}
	}
	.mobile-hamburger {
		@media only screen and (min-width: 1199px) {
			display: none;
		}
	}
}

.login-register-modal .bsm-btn:hover {
	color: #fff !important;
}
.login-register-modal .bsm-tabs {
	padding: 0;
}
.header-right.header-extra-block {
	float: none;
}
.builder-navigation {
	.mainmenu .sub-menu.sh-mega-menu {
		right: auto !important;
		left: 0;
	}
}
.menu-builder-block + {
	p:empty {
		display: none;
	}
}
.menu-builder-block,
.site-logo-builder-block {
	p:empty {
		display: none;
	}
}
.site-logo-builder-block a {
	br {
		display: none;
	}
}
.kc-elm + p:empty {
	display: none;
}