.portfolio-thumb {
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    img {
        display: block;
        margin: auto;
        overflow: hidden;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }
    .hover-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background: rgba($bright_turquoise,0.90);
        height: 100%;
        width: 100%;
        opacity: 0;
        text-align: center;
        backface-visibility: hidden;
        transition: transform 0.3s, opacity 0.3s;
        .ajax-single-link {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            font-size: 25px;
            color: $color__white;
            .fa-eye {
                font-size: 45px;
                width: 80px;
                height: 80px;
                border: 1px solid;
                line-height: 75px;
                border-radius: 50%;
                margin-top: -25px;
            }
        }
        .hover-details {
            top: 50% !important;
            position: absolute;
            left: 0;
            right: 0;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 500;
            display: inherit;
            padding: 15px 0;
            transform: translateY(-50%);
            color: $color__white;
            h5 {
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 700;
                display: inherit;
                padding: 0;
                margin-bottom: 0;
                color: $color__white;
            }
            span {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 400;
                display: inherit;
                padding: 0;
            }
        }
    }
    &:hover .hover-content {
       opacity: 1;
    }
}

.portfolio-grid {
    margin: 50px -5px 0;
    .item {
        padding: 0 9px;
    }
    &.ver-3 {
        .item {
            padding: 0 15px;
            .portfolio-thumb {
                margin-bottom: 30px;
            }
        }
    }
}


.portfolio-menu {
    list-style: none;
    padding-left: 0;
    > li > a {
        padding: 10px 0;
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: $black_russian;
    }
    .dropdown-menu {
        margin: 0;
        padding: 0;
        border-radius: 0;
        border-color: #ebebeb !important;
        li a:hover {
            color: #fff !important;
        }
    }
    &:not(.style-two) {
        @media only screen and (max-width: 767px) {
            text-align: center;
            padding-top: 15px;
        }
        .dropdown-menu {
            @media only screen and (max-width: 767px) {
                left: -65px !important;
            }
        }
    }
    .dropdown-menu li a {
        padding: 10px 15px;
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: $black_russian;
        border-bottom: 1px solid #ebebeb;
        &.active {
            background: $bright_turquoise;
            color: $color__white;
        }
    }
    .dropdown-menu li:last-child a {
        border-bottom: 0 none;
    }
    &.style-two {
        li {
            display: inline-block;
            padding: 5px;
            a {
                border: 1px solid $color__gainsboro;
                display: block;
                padding: 10px 30px;
                border-radius: 30px;
            }
        }
    }
    &.citrus-theme {
        .dropdown-menu li a:hover, 
        .dropdown-menu li a:focus, 
        .dropdown-menu li a:active {
            background-color: $color__citrus !important;
        }
    }    
    &.orange-theme {
        .dropdown-menu li a:hover, 
        .dropdown-menu li a:focus, 
        .dropdown-menu li a:active {
            background-color: $color__orange !important;
        }
    }
    &.style-four {
        margin-bottom: 0;
        margin-left: -15px;
        li {
            display: inline-block;
            a {
                padding: 10px 16px;
                font-size: 16px;
            }
        }
    }
}


.container-portfolio {
    padding: 45px 0;
    @media only screen and (min-width: 850px) {
        width: 70%;
        margin: auto;
    }
    @media only screen and (min-width: 1368px) {
        width: 924px;
        margin: auto;
    }
    .single-post .entry-title {
        font-size: 30px;
    }
}

.portfolio-details-block {
    .portfolio-header {
        .portfolio-title {
            font-weight: bold;
            font-size: 22px;
            text-transform: uppercase;
        }
        .portfolio-cat {
            font-size: 14px;
            a {
                color: $bright_turquoise;
            }
        }
        .portfolio-other {
            font-size: 14px;
            color: $color__heading;
            margin-top: 10px;
            margin-bottom: 35px;
            position: relative;
            .rating {
                i {
                    color: $bright_turquoise;
                }
            }
            .devider {
                padding: 0 5px;
            }
            &:after {
                content: "";
                width: 30px;
                height: 2px;
                background: #ddd;
                left: 0;
                bottom: -15px;
                position: absolute;
            }
        }
    }
    .portfolio-details {
        .project-details {
            td, th {
                padding: 10px 0;
                border-radius: 0;
                border-bottom: 1px solid #ebebeb;
                font-weight: normal;
                color: $color__heading;
                font-size: 15px;
            }
            tr:last-child {
                td, th {
                    border-bottom: 0 none;
                }
            }
        }
    }
    .project-demo-btn {
        margin-top: 30px;
        margin-bottom: 45px;
        .project-btn {
            border: 1px solid $color__border-one;
            padding: 15px 45px;
            border-radius: 30px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.015em;
            background: transparent;
            font-size: 14px;
            color: $color__heading;
            margin-right: 15px;
            margin-bottom: 15px;
            &:hover {
                border-color: $bright_turquoise;
                color: $bright_turquoise;
            }
        }
    }

    .portfolio-related-title {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    .owl-nav {
        > div {
            position: absolute;
            display: inline-block;
            text-align: center;
            font-size: 60px;
            margin: 0 5px;
            top: 50%;
            transform: translateY(-50%);
            color: $bright_turquoise;
            &.disabled {
                color: inherit;
                cursor: not-allowed;
            }
        }
        .owl-next {
            right: -105px;
        }       
        .owl-prev {
            left: -105px;
        }
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
}

/*--------------------------------------------------------------
## Call To Action
--------------------------------------------------------------*/
.call-to-content {
    h2 {
        color: $color__white;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.010em;
        font-size: 32px;
        span {
            color: $bright_turquoise;
        }
    }
    p {
        color: #cecece;
    }
    .call-to-link {
        display: inline-block;
        border: 2px solid $bright_turquoise;
        color: $bright_turquoise;
        padding: 15px 45px;
        border-radius: 30px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.015em;
        &:hover {
            border-color: $color__white;
            color: $color__white;
        }
    }
}

/*--------------------------------------------------------------
## Team Slider
--------------------------------------------------------------*/
.team-item {
    margin-top: 60px;
    .hexagonal {
        margin-bottom: 15px;
        .hexagonal-img-hex2 {
            height: 245px;
            width: 210px;
            top: 14px;
            left: -50px;
        }
        .hexagonal-img-hex-in2 .hexagonal-image {
            transform: scale(1.23) rotate(90deg); 
        }
        &:hover {
            .hexagonal-img-hex-in2 .hexagonal-image {
                transform: scale(1.6) rotate(90deg); 
            }
        }
    }
    .member-name {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
        color: #0d1422;
    }   
    .member-deseg {
        font-size: 12px;
        text-transform: uppercase;
        color: #999;
        font-weight: 500;
        margin-bottom: 5px;
        &.v-2 {
            text-transform: capitalize;
            color: #777;
        }
    }
    .content-socials {
        a {
            font-size: 22px;
            padding: 8px;
        }
    }
    .team-content {
        padding: 0 5px;
    }
}
.team-slider {
    .owl-nav {
        > div {
            position: absolute;
            display: inline-block;
            text-align: center;
            font-size: 60px;
            margin: 0 5px;
            top: 50%;
            transform: translateY(-50%);
            color: $bright_turquoise;
            &.disabled {
                color: inherit;
                cursor: not-allowed;
            }
        }
        .owl-next {
            right: -105px;
        }       
        .owl-prev {
            left: -105px;
        }
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
}
.company-slider {
    img {
        width: auto !important;
        margin: auto;
        display: block;
    }
}