.item-sm {
    .item:first-child {
        .dot-devider {
            @media only screen and (min-width: 992px) {
                display: none;
            }            
            @media only screen and (max-width: 992px) {
                height: 100%;
            }
        }
    }
    .item:nth-child(2) {
        .dot-devider {
            @media only screen and (min-width: 992px) {
                display: none;
            }
        }
    }
}
/*--------------------------------------------------------------
## Progress Bar
--------------------------------------------------------------*/
.skill-bar {
    margin-bottom: 45px;
}
.progress-title-holder {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
}
.progress-mark span, 
.progress-title-holder {
    color: #0d1422;
    font-weight: 600;
    margin: 0 0 10px;
}
.progress-title {
    z-index: 100;
}
.progress-wrapper {
    width: 100%;
    z-index: 10;
}
.progress-mark {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    span.percent {
        color: $bright_turquoise;
    }
}
.progress-content {
    background-color: #0d1422;
    width: 0%;
}
.progress-outter {
    background-color: #eee;
}
.progress-content, .progress-outter {
    height: 10px;
    border-radius: 10px;
}

/*--------------------------------------------------------------
## Hexa Grid Shape
--------------------------------------------------------------*/
.hexa-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 45px;
    @media only screen and (max-width: 1190px) {
        left: 60px;
    }
    @media only screen and (max-width: 1140px) {
        left: 30px;
    }
}

.hexa-item {
    flex: 0 0 50%;
    position: relative;
}

.hexa-middle {
    top: 124px;
    left: -60px;
    @media only screen and (max-width: 1190px) and (min-width: 1030px) {
        position: absolute;
        top: 123px;
        left: 210px;
        right: 0;
    }
    @media only screen and (max-width: 1160px)  {
        left: 205px;
    }
    @media only screen and (max-width: 1029px) and (min-width: 992px) {
        left: -29px;
        top: 113px;
    }
    @media only screen and (max-width: 1366px) and (min-width: 1190px) {
        top: 113px;
        left: -74px;
    }
    + .hexa-item {
        @media only screen and (min-width: 1367px) {
            margin-top: 25px;
        }
    }
}

.hexagonal-img-container{
    margin: 10px 70px;
    position: relative;
}

.hexagonal-img-container,
.hexagonal-img-container:before,
.hexagonal-img-container:after {
    background-color: #f9f9f9;
    height: 226px;
    width: 130px;
    z-index: 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin: auto;
    transition: all 0.15s ease-in;
}

.hexagonal-img-container:before,
.hexagonal-img-container:after {
    content: "";
    position: absolute;
}

.hexagonal {
    &:hover {
        .hexagonal-img-container,
        .hexagonal-img-container:before,
        .hexagonal-img-container:after {
            background-color: $bright_turquoise;
            border-top: 1px solid $bright_turquoise;
            border-bottom: 1px solid $bright_turquoise;
        }
    }
}

.hexagonal-img-container:before {
    transform: rotate(60deg);
}
.hexagonal-img-container:after {
    transform: rotate(-60deg);
}

.hexagonal-img-hex {
    margin-top: -24px;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
}

.hexagonal-img-hex2 {
    position: absolute;
    height: 237px;
    width: 204px;
    top: 18px;
    left: -47px;
}

.hexagonal-img-hex1 {
    overflow: hidden;
    visibility: hidden;
    transform: rotate(150deg);
}

.hexagonal-img-hex-in1 {
    overflow: hidden;
    height: 100%;
    width: 100%;
    transform: rotate(60deg);
}

.hexagonal-img-hex-in2 {
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    visibility: visible;
    background-size: 125%;
    transform: rotate(60deg);
    transition: all 0.5s ease;
    position: relative;
}

.hexagonal-img-hex-in2:after{
    position: absolute;
    content: "";
    background-color: transparent;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    transition: all .25s ease;
}

.hexagonal-img-hex-in2 .hexagonal-image {
    margin-top: 20px;
    transform: scale(1.5) rotate(90deg) ;
    transition: all .25s ease;
}
.hexagonal-img-hex-in2:hover .hexagonal-image{
    transform: scale(1.5) rotate(90deg);
}

/*--------------------------------------------------------------
## Resume Banner
--------------------------------------------------------------*/
.litmus-resume-banner-info {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .introduce-socialarea li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        a {
            font-size: 25px;
            display: inline-block;
        }
    }
    .say-hello {
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: normal;
    }
    .say-name {
        font-size: 50px;
        span {
            font-weight: 500;
        }

    }
    .say-myself {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .say-someinfo {
        margin-bottom: 30px;
    }
    .download-resume.btn {
        display: inline-block;
        background: #03dedf;
        color: #fff;
        line-height: normal;
        font-size: 15px;
        font-weight: 500;
        padding: 15px 30px;
        border-radius: 30px;
        letter-spacing: 0.015em;
        margin-top: 30px;
    }
}
/*--------------------------------------------------------------
## Author Card
--------------------------------------------------------------*/
.resume-author-card {
    background: #172938;
    padding: 45px;
    .author-image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .author-content-wrap {
        text-align: center;
        color: #fff;
        h1, h2, h3, h4, h5, h6 {
            color: #f1f1f1;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        .author-name {
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .author-do {
            font-size: 18px;
            font-weight: normal;
        }
        .author-social-contact li {
            display: inline-block;
            padding: 5px 8px;
        }
        .author-social-contact i {
            font-size: 22px;
        }
        .highlight-availity {
            border: 0 none;
            background: #1490d7;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.015em;
            border-radius: 30px;
            position: relative;
            padding: 15px 45px;
            &:after {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 50%;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
            &.busy {
                &:after {
                    background: #ff0000;
                }
            }
            &.notavailable {
                &:after {
                    background: #ff0000;
                }
            }
            &.available {
                &:after {
                    background: #82b541;
                }
            }
        }
    }
}
/*--------------------------------------------------------------
## Social Profile Stats
--------------------------------------------------------------*/
.litmus-social-status {
    margin-bottom: 40px;
    .social-name-stats {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.015em;
        word-spacing: 0.015em;
        margin-bottom: 15px;
    }
    .social-name-stats {
        i {
            margin-left: 45px;
            font-weight: normal;
        }
    }
    .social-content i {
        color: #283641;
    }
    .social-content .text-count {
        margin-left: 30px;
        color: #283641;
        font-weight: 600;
    }
}
/*--------------------------------------------------------------
## Count Box
--------------------------------------------------------------*/
.litmus-status-count-box {
    display: inline-block;
    min-width: 100%;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 2px 10px 35px rgba(0,0,0,0.15);
    p {
        margin-bottom: 0;
    }
}

/*--------------------------------------------------------------
## Experience List
--------------------------------------------------------------*/
.experience-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 45px;
    .experience-title {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5px;
        color: #0d1422;
    }
    .experience-description {
        font-size: 16px;
        color: #0d1422;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &:before {
        content: "";
        width: 15px;
        height: 15px;
        background: #1490d7;
        position: absolute;
        left: 0;
        border-radius: 50%;
        top: 3px;
    }
}