/*--------------------------------------------------------------
## Restaurant Tab
--------------------------------------------------------------*/
.resturent-tab-v1 {
    list-style: none;
    padding-left: 0;
    position: relative;
    display: block;
    height: auto;
    margin: 45px auto 60px;
    background: transparent;
    text-align: center;
    @media only screen and (max-width: 992px) {

    }
    > li > a {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: $color__white !important;
        &.active,
        &:hover {
            background: $color__citrus !important;
            color: $color__white;
            border-color: $color__citrus;
        }
    }
    li {
        display: inline-block;
        padding: 5px !important;
        height: auto;
        a {
            border: 1px solid #656565;
            display: block;
            padding: 12px 30px !important;
            border-radius: 30px;
            line-height: normal !important;
            height: auto !important;
        }
    }
    .bsm-indicator {
        display: none;
    }
}
.resturent-tab-v2 {
    list-style: none;
    padding-left: 0;
    position: relative;
    display: block;
    height: auto;
    margin: 45px auto 60px;
    background: transparent;
    text-align: center;
    > li > a {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: #333 !important;
        &.active,
        &:hover {
            background: $color__citrus !important;
            color: $color__white !important;
            border-color: $color__citrus;
        }
    }
    li {
        display: inline-block;
        padding: 5px !important;
        height: auto;
        a {
            display: block;
            padding: 12px 30px !important;
            border-radius: 30px;
            line-height: normal !important;
            height: auto !important;
        }
    }
    .bsm-indicator {
        display: none;
    }
}
.restu-menu-item {
    .pe-7s-like {
        cursor: pointer;
    }
    .pe-7s-like.full {
        color: $color__citrus;
    }
    .wishlist-btn:hover {
        .pe-7s-like.full {
            color: $color__white;
        }
    }
}
.woo-menu-item {
    .pe-7s-like {
        cursor: pointer;
        font-size: 22px;
        position: relative;
        top: -3px;
    }
    .pe-7s-like.full {
        color: #ffa800;
    }
}
.restu-menu-item {
    margin-bottom: 30px;
    .menu-thumbnail {
        margin: 0;
        img {
            width: 100%;
        }
    }
    .menu-desc {
        background: $color__white;
        padding: 20px 0;
    }
    .menu-title {
        font-weight: 400;
        font-size: 16px;
        color: #333;
    }
    .entry-title {
        
    }
    .menu-meta {
        overflow: hidden;
    }
    .menu-cat {
        font-size: 14px;
        font-weight: 300;
        color: #666666;
        position: relative;
        padding-left: 20px;
        margin-right: 20px;
        float: left;
        &:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            left: 0;
            top: 4px;
            border-radius: 20px;
            background: $color__citrus;
        }
    }
    .menu-offer {
        font-size: 14px;
        font-weight: 300;
        color: #666666;
        position: relative;
        padding-left: 20px;
        float: left;
        &:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            left: 0;
            top: 4px;
            border-radius: 20px;
            background: #d5082e;
        }
    }
    .menu-price {
        overflow: hidden;
        margin-top: 15px;
        mark, ins {
            background: transparent;
        }
        .price {
            float: left;
            font-size: 24px;
            font-weight: 600;
            font-family: "Arial";
            color: #333;
            max-width: 125px;
            span.woocommerce-Price-currencySymbol {
                font-size: 13px;
                vertical-align: text-top;
                position: relative;
                top: 0;
                font-weight: 400;
            }
            del {
                font-size: 14px;
                span.woocommerce-Price-currencySymbol {
                   top: -3px;
                }
            }
        }
        .order-block {
            float: right;
            .order-btn {
                font-size: 14px;
                text-transform: uppercase;
                background: transparent !important;
                font-weight: 600;
                color: $color__citrus;
                border: 1px solid;
                padding: 8px 17px;
                display: inline-block;
                border-radius: 30px;
                vertical-align: middle;
                transition: all 0.3s ease-in;
                &:hover {
                    background: $color__citrus;
                    border-color: $color__citrus;
                    color: $color__white;
                }
                &.added {
                    display: none !important;
                }
            }
            .wc-forward {
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 600;
                color: $color__citrus;
                border: 1px solid;
                padding: 8px 8px;
                display: inline-block;
                border-radius: 30px;
                vertical-align: middle;
                transition: all 0.3s ease-in;
                &:hover {
                    background: $color__citrus;
                    border-color: $color__citrus;
                    color: $color__white;
                }
            }
            .wishlist-btn {
                width: 31px;
                height: 31px;
                border: 1px solid #eee;
                display: inline-block;
                vertical-align: middle;
                line-height: 36px;
                text-align: center;
                font-size: 18px;
                border-radius: 50px;
                color: #333333;
                display: none;
                opacity: 0;
                transition: opacity 3s ease-in;
                &:hover {
                    background: $color__citrus;
                    border-color: $color__citrus;
                    color: $color__white;
                }
                &.active {
                    background: $color__citrus;
                    border-color: $color__citrus;
                    color: $color__white;
                }
            }
        }
    }
    &:hover {
        .menu-price .order-block .wishlist-btn {
            display: inline-block;
            opacity: 1;
        }
    }
    &.menu-v2 {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        .menu-title {
            font-size: 20px;
            font-weight: 600;
            position: relative;
        }
        .menu-thumbnail {
            width: 119px;
            height: 123px;
            float: left;
            margin-right: 20px;
            overflow: hidden;
            @media only screen and (max-width: 767px) {
                width: 75px;
                height: 75px;
            }
        }
        .menu-title:after {
            content: "";
            border-top: 2px dashed #ebebeb;
            width: 55%;
            position: absolute;
            z-index: 0;
            top: 13px;
            margin-left: 10px;
            right: -92px;
            @media only screen and (max-width: 767px) {
                border: 0 none;
            }
        }
        .menu-desc {
            padding: 0;
            // float: left;
            // width: 73.2%;
            background: transparent;
            @media only screen and (max-width: 767px) {
                width: auto;
                float: none;
                //display: table-cell;
            }
            .col-6 {
                @media only screen and (max-width: 767px) {
                    -ms-flex: 0 0 100%;
                    -webkit-box-flex: 0;
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding: 0;
                }
            }
        }
        .left-part {
            margin-bottom: 35px;
        }
        .menu-price {
            margin-top: 0;
            .price,
            .order-block {
                float: none;
                text-align: right;
                @media only screen and (max-width: 767px) {
                    display: inline-block;
                }
            }
            .order-block {
                @media only screen and (max-width: 767px) {
                    float: right;
                }
            }
            .price {
                margin-bottom: 45px;
                font-weight: 600;
                font-family: "Arial";
                position: relative;
                @media only screen and (max-width: 767px) {
                    top: 0;
                }
            }
            .qty-count {
                display: inline-block;
            }
        }
    }
    &.restu-list {
        overflow: hidden;
        margin-bottom: 60px;
        .menu-thumbnail {
            float: left;
            margin-right: 30px;
            overflow: hidden;
            @media only screen and (max-width: 767px) {
                float: none;
                margin-bottom: 30px;
            }
            img {
                width: 100%;
            }
        }
        .menu-desc {
            overflow: hidden;
            padding: 0;
        }
        .menu-title {
            font-weight: 500;
            font-size: 24px;
        }
        .rating-content {
            font-size: 12px;
            margin-bottom: 15px;
            .devide {
                padding: 0 8px;
            }
        }
        .price {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 15px;
        }
        .menu-meta {
            margin-bottom: 15px;
        }
        .menu-desc-list {
            margin-bottom: 50px;
        }
        .share-item {
            margin-bottom: 0;
            margin-top: 0;
            font-size: 16px;
            a {
                padding: 10px;
                display: inline-block;
            }
        }
    }
}
.bestseller-carousel {
    .menu-desc {
        background: $color__white;
        padding: 20px;
    }
}
.qty-count {
    display: inline-block;
    border-radius: 5px;
    margin-right: 15px;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 30px;
    .count-input {
        box-sizing: border-box !important;
        height: auto !important;
        margin-bottom: 0 !important;
        padding: 8px 6px !important;
        border-bottom: 0 none !important;
        box-shadow: 0 0 0 rgba(0,0,0,0) !important;
        width: auto !important;
        text-align: center;
    }
}
.woo-single-page {
    .menu-single-tab {
        float: left;
        margin-right: 25px;
        @media only screen and (max-width: 992px) { 
            float: none;
            margin-right: 0;
        }
        .bsm-tabs {
            height: auto;
            width: auto;
            white-space: normal;
            .bsm-tab {
                display: block;
                width: 140px;
                height: 140px;
                margin-bottom: 25px;
                @media only screen and (max-width: 992px) { 
                    width: 100px;
                    height: 100px;
                    margin-bottom: 15px;
                }
                &:last-of-type {
                    margin-bottom: 0;
                    @media only screen and (max-width: 992px) { 
                        margin-bottom: 15px;
                    }
                }
                a {
                    padding: 0;
                }
            }
            .bsm-indicator {
                display: none;
            }
        }
    }
    .menu-thumbnail {
        @media only screen and (min-width: 992px) {        
            float: none !important;
            margin-right: 0 !important;
            display: table-cell;
        }
        @media only screen and (max-width: 992px) { 
            margin-right: 0 !important;
        }
        img {
            display: none;
            &.active {
                display: block;
            }
        }
    }
    .menu-share {
        margin-top: 30px;
    }
}
.restu-menu-details {
    border-top: 1px solid #ebebeb;
    padding-top: 45px;
}
.woo-details-tab {
    .bsm-tabs {
        margin-bottom: 30px;
    }
    .bsm-tab {
        margin-right: 30px;
    }
    .bsm-tabs .bsm-tab a {
        padding: 0;
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }
    .bsm-indicator {
        display: none;
    }
}

.wooshop {
    .wooshop-info {
        color: #333;
        font-weight: 500;
        margin-bottom: 15px;
        .retirve-btn {
            border: 2px solid #ddd;
            padding: 10px 30px;
            border-radius: 30px;
            color: #333;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 15px;
        }
    }
    input {
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        box-sizing: border-box !important;
        font-size: 14px !important;
        padding: 10px 20px !important;
        border-radius: 30px !important;
    }
    .checkout_coupon {
        display: inline-block;
    }
    .checkout_coupon input {
        width: auto !important;
        margin-left: 60px;
        border-radius: 30px;
        padding: 10px 20px;
        margin-bottom: 0 !important;
    }
    .bsm-select-wrapper {
        width: 100%;
    }
    .bsm-select-wrapper span.caret {
        right: 20px;
        top: -18px;
    }
    .bsm-textarea {
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        box-sizing: border-box !important;
        font-size: 14px !important;
        padding: 10px 20px !important;
        border-radius: 15px !important;
        min-height: 130px;
    }
    .form-chackout {    
        h3 {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
        }
        label {
            font-size: 14px;
            color: #333;
            font-weight: 600;
        }
        .pay-description {
            margin-left: 33px;
            display: block;
            line-height: 1.75;
            margin-top: -12px;
            margin-bottom: 30px;
        }
    }
    .payment-method-title {
        margin: 30px 0 15px;
    }
    .checkout-submit {
        background: transparent;
        border: 2px solid #ddd;
        padding: 15px 45px;
        border-radius: 30px;
        color: #333;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        margin-left: 0;
        font-size: 16px;
        margin-top: 30px;
    }
    #order_review_heading {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 5px;
    }
    #order_review {
        .product-name {
            text-align: center;
            .product-cat {
                font-size: 14px;
                font-weight: 300;
                color: #666666;
                position: relative;
                padding-left: 20px;
                &:before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: 0;
                    top: 4px;
                    border-radius: 20px;
                    background: $color__citrus;
                }
            }
        }
        .shop_table .cart_item {
            border-bottom: 1px solid #ebebeb;
            td {
                padding: 26px 5px;
            }
        }
        .shop_table .cart-subtotal {
            td, th {
                padding: 5px;
            }
        }
    }

    .shop_table.cart  {
        .product-title {
            display: block;
            font-size: 16px;
        }
        .product-name {
            text-align: center;
            .product-cat {
                font-size: 14px;
                font-weight: 300;
                color: #666666;
                position: relative;
                padding-left: 20px;
                &:before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: 0;
                    top: 4px;
                    border-radius: 20px;
                    background: $color__citrus;
                }
            }
        }
        .product-quantity {
            .quantity {
                width: 45%;
            }
        }
        .cart_item {
            border-bottom: 1px solid #ebebeb;
        }
        .cart_item .product-quantity {
            width: 25%;
        }
        th {
            text-transform: uppercase;
            font-size: 16px;
            color: #333;
        }
        td, th {
            padding: 25px 5px;
        }
        #coupon_code {
            width: auto;
        }
        input[type="submit"] {
            padding: 14px 30px !important;
            background: transparent;
            color: #333;
            display: inline-block;
            margin-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }
        .product-remove {
            font-size: 30px;
        }
        .cart_item .product-price,
        .cart_item .product-subtotal {
            font-size: 16px;
        }
        .cart_item .cart_item_update {
            border-bottom: 1px solid #ebebeb;
            .actions {
                padding-bottom: 6px;
            }
        }
    }
    .cart_totals.calculated_shipping {
        background: #f5f5f5;
        padding: 30px;
        h2 {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            border-bottom: 1px solid #ddd;
            padding-bottom: 9px;
        }
        .checkout-button {
            font-weight: 500;
            background: #333;
            color: #fff;
            padding: 13px 35px;
            text-transform: uppercase;
            border-radius: 30px;
            display: inline-block;
            margin-top: 15px;
        }
    }
}
.bestseller-carousel {
    .owl-nav {
        > div {
            position: absolute;
            display: inline-block;
            text-align: center;
            font-size: 60px;
            margin: 0 5px;
            top: 50%;
            transform: translateY(-50%);
            color: $color__citrus;
            &.disabled {
                color: inherit;
                cursor: not-allowed;
            }
        }
        .owl-next {
            right: -105px;
            @media only screen and (max-width: 1368px) {
                right: -35px;
            }
        }       
        .owl-prev {
            left: -105px;
            @media only screen and (max-width: 1368px) {
                left: -35px;
            }
        }
        @media only screen and (max-width: 767px) {
            display: none;
        }        
    }
}

/* WooShop Category Block */
.category-link {
    position: relative;
    display: block;
    margin-bottom: 30px;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    .category-name {
        background: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding: 15px 30px;
        display: table;
        margin: auto;
        box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
    }
    .cat-box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        &.ver-big {
            left: auto;
            right: 75px;
            .big-title {
                font-family: $font_mr_dafoe;
                font-size: 42px;
                color: #ffa800;
                margin-bottom: 0;
            }
            .category-name {
                background: transparent;
                display: block;
                font-size: 36px;
                padding: 0;
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                margin-bottom: 15px;
            }
            .cat-button {
                font-size: 16px;
                padding: 10px 20px;
                border-radius: 30px;
                border: 2px solid #ffa800;
                color: #ffa800;
                display: inline-block;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
    }
}

.woo-menu-item {
    .menu-thumbnail {
        position: relative;
        display: block;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .menu-title {
        font-size: 16px;
        font-weight: 600;
    }
    .hover-content {
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        margin: auto;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transform: translateY(-20%);
        transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
        .hover-wrap {
            margin: auto;
            display: table;
            background: #fff;
            padding: 8px 10px;
            font-size: 25px;
            box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
            a {
                padding: 5px;
                color: inherit;
            }
        }
    }
    &:hover {
        .hover-content {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .badge-new {
        position: absolute;
        background: #01bad4;
        color: #fff;
        padding: 10px 22px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        top: 25px;
    }
    .badge-discount {
        position: absolute;
        background: #ffa800;
        color: #fff;
        padding: 10px 22px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        top: 25px;
        right: 0;
    }
    .menu-desc {
        .menu-price .price {
            font-size: 15px;
            font-weight: 500;
            color: #999999;
        }
    }
    &.discount {
        .menu-price .price {
            color: #ffa800;
            del {
                color: #999999;
            }
        }
    }
}

