/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
.horizontal-border {
    width: 6px;
    height: 20em;
    background: rgba($color__gainsboro, 0.10);
    clear: both;
}
.slider-content {
    .title {
        font-weight: 800;
        font-size: 60px;
        line-height: 60px;
    }
    .subtitle {
        font-size: 24px;
        font-weight: bold;
        color: $color__charcoal;
        margin-top: 0;
    }
}

.slider-area .main-slider>div.owl-controls>div.owl-nav>div.owl-prev {
    left: 40px;
}

.slider-area .main-slider>div.owl-controls>div.owl-nav>div.owl-next {
    right: 40px;
}

/* ========index02========== */
.main-slider-two {
    padding-bottom: 105px;
}

.show-image-content {
    img {
        width: auto;
    }
}

.show-text-content {
    margin-top: 5%;
    color: #fff;
    padding: 50px;
    h2 {
        font-size: 140px;
        font-weight: bold;
        color: #fff;
        line-height: 140px;
    }
}

.brand-carousel {
    .item {
        img {
            width: auto;
            display: block;
            margin: auto;
        }
    }
    @media only screen and (max-width: 767px) {
        .owl-dot {
            margin-top: 50px;
        }
    }
}

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/

.slider-style {
    position: relative;
}

.slider-style .owl-controls .owl-nav>div {
    position: absolute;
    top: 25%;
    line-height: normal;
    padding: 15px 15px;
    font-size: 40px;
    i {
        font-weight: bold;
        color: #868686;
    }
}

.slider-style .owl-controls .owl-nav>div.owl-prev {
    left: -35px;
}

.slider-style .owl-controls .owl-nav>div.owl-next {
    right: -35px;
}

@media only screen and (max-width: 1160px) {
    .owl-nav .owl-next {
      right: -90px !important;
    }

    .owl-nav .owl-prev {
      left: -90px !important;
    }
}

@media only screen and (max-width: 1160px) and (min-width: 1075px) {
    .owl-nav .owl-next {
      right: -75px !important;
    }

    .owl-nav .owl-prev {
      left: -75px !important;
    }
}
@media only screen and (max-width: 1074px) and (min-width: 768px) {
    .owl-nav .owl-next {
      right: 0 !important;
      font-size: 30px !important;
    }

    .owl-nav .owl-prev {
      left: 0 !important;
      font-size: 30px  !important;
    }
}
.service-slider {
    @media only screen and (max-width: 1074px) and (min-width: 768px) {
        .owl-nav .owl-next {
          right: -15px !important;
          font-size: 30px !important;
        }

        .owl-nav .owl-prev {
          left: -15px !important;
          font-size: 30px  !important;
        }
    }
}
@media only screen and (max-width: 768px) {
    .owl-nav .owl-next {
        display: none !important;
    }

    .owl-nav .owl-prev {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .owl-dots {
        text-align: center;
        margin-top: 30px;
    }
    .owl-dots .owl-dot.active {
        border-color: $bright_turquoise;
    }
    .citrus-theme {
        .owl-dots .owl-dot.active {
            border-color: $color__citrus;
        }
    }
    .owl-dots .owl-dot {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 10px;
        border: 2px solid #777;
        border-radius: 50px;
    }
    .owl-nav .owl-next {
        display: none !important;
    }

    .owl-nav .owl-prev {
        display: none !important;
    }
}


/* Welcome Block */
.welcome-block {
    @media only screen and (max-width: 992px) {
        padding: 60px 0;
    }
}
.welcome-title {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 15px;
}
.welcome-des {
    font-size: 14px;
    color: #999999;
}
.owner-area {
    margin-top: 15px;
    .owner-name {
        font-size: 14px;
        font-weight: normal;
        color: #666;
    } 
}
.litmus-dish-tab {
    border-top: 1px solid #eee;
    padding-top: 60px;
    margin-top: 60px;
}
.dish-tab-title {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color__citrus;
}
.dish-tab-nab {
    padding: 0;
    list-style: none;
    .nav-item {
        float: left;
        a {
            padding: 0;
            text-align: center;
            margin-right: 20px;
            &.active {
                color: $color__citrus;
                i {
                    color: inherit;
                }
            }
        }
        i {
            background: #f1f1f1;
            color: #000;
            width: 75px;
            height: 75px;
            font-size: 40px;
            display: table;
            border-radius: 100px;
            line-height: 75px;
        }
        span {
            color: #333;
            display: block;
            margin-top: 5px;
        }
    }
}
.litmus-dish-content {
    .tab-pane,
    .tab-pane img {
        position: relative;
        z-index: 10;
    }
    .tab-pane img {
        display: block;
        margin: auto;
    }
    .tab-pane:before {
        content: "";
        border: 1px solid #eee;
        width: 120%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50px;
        z-index: 0;
        border-radius: 100%;
        @media only screen and (max-width: 1300px) {
            width: 100%;
            height: 100%;
        }
    }
}