.client-thumb {
    img {
        width: 90px !important;
        height: 90px;
        margin: auto;
        border-radius: 50%;
        border: 8px solid #fff;
        margin-bottom: 15px;
    }
}

.client-header {
    .client-name {
        color: $color__white;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
    }
    .client-deseg {
        color: inherit;
        font-size: 12px;
        color: #f3f3f3;
        letter-spacing: 0.015em;
        margin-bottom: 0;
    }
}
.client-rating {
    margin: 5px 0;
    .fa {
        color: $bright_turquoise;
        padding: 0 4px;
    }
}
.quote-icon {
    margin-bottom: 15px;
    .fa {
        color: #e5e5e5;
        font-size: 35px;
    }
}

.client-desc {
    margin: 30px auto 45px;
    max-width: 80%;
    color: #fff;
    font-size: 14px;
    p {
        line-height: 1.95em;
    }
}

.review-slider {
    .owl-nav {
        > div {
            position: absolute;
            display: inline-block;
            text-align: center;
            font-size: 60px;
            margin: 0 5px;
            top: 50%;
            transform: translateY(-50%);
            &.disabled {
                color: inherit;
                cursor: not-allowed;
            }
        }
        .owl-next {
            right: -105px;
        }       
        .owl-prev {
            left: -105px;
        }
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
}

.client-review.ver-2 {
    img {
        width: auto;
    }
    .client-logo {
        position: absolute;
        top: 96px;
        box-shadow: 0px 2px 22px rgba(0,0,0,0.45);
        left: 80px;
        background: #fff;
        @media only screen and (max-width: 1180px) {
            top: auto;
            width: 100px;
            left: 45px;
        }
    }
    .client-thumb {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 120px;
        height: 136px;
        display: inline-block;
        margin-left: 174px;
        margin-top: -52px;
        @media only screen and (max-width: 1180px) { 
            margin-left: 0;
            margin-top: 0;
        }
        img {
            display: block;
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-65%);
        }
    }
    .client-content {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 466px;
        width: 815px;
        padding: 55px;
        margin: auto;
        font-size: 22px;
        color: #fff;
        padding-left: 185px;
        padding-top: 160px;
        margin-right: 80px;
        @media only screen and (max-width: 1180px) {
            margin-right: 0;
            padding: 45px;
            padding-top: 120px;
            width: 100%;
            height: auto;
            min-height: auto;
        }
        .client-info {
            font-size: 16px;
            text-align: right;
            @media only screen and (max-width: 1180px) {
                text-align: left;
            }
        }
    }
}