.woocommerce .star-rating {
    margin-top: 8px;
    span {
        font-size: 12px;
    }
    &:before {
        font-size: 12px;
    }
}
.woocommerce #respond input#submit, 
.woocommerce a.button, .woocommerce button.button, 
.woocommerce input.button {
    font-weight: 600;
    padding: 16px 20px !important;
}
.woocommerce {
    mark, ins {
        background: transparent !important;
    }
}

.woocommerce-pagination {
    display: none;
}

.grid-menu-tab > ul {
    margin-bottom: 0 !important;
}

.woocommerce-loop-category__title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.category-link {
    position: relative;
    display: block;
    margin-bottom: 30px;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    .category-name {
        background: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding: 15px 30px;
        display: table;
        margin: auto;
        box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
    }
    .cat-box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        &.ver-big {
            left: auto;
            right: 75px;
            @media only screen and (max-width: 992px) {
                left: auto;
                right: 15px;
                bottom: 26px;
                top: auto;
            }
            .big-title {
                font-family: $font_mr_dafoe;
                font-size: 42px;
                color: $color__orange;
                margin-bottom: 0;
                @media only screen and (max-width: 992px) {
                    font-size: 36px;
                }
            }
            .category-name {
                background: transparent;
                display: block;
                font-size: 36px;
                padding: 0;
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                margin-bottom: 15px;
                @media only screen and (max-width: 992px) {
                    font-size: 26px;
                }
            }
            .cat-button {
                font-size: 16px;
                padding: 10px 20px;
                border-radius: 30px;
                border: 2px solid $color__orange;
                color: $color__orange;
                display: inline-block;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
    }
}

.woo-menu-item {
    margin-bottom: 30px;
    .menu-thumbnail {
        position: relative;
        display: block;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .menu-title {
        font-size: 16px;
        font-weight: 600;
    }
    .hover-content {
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        margin: auto;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transform: translateY(-20%);
        transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
        .hover-wrap {
            margin: auto;
            display: table;
            background: #fff;
            padding: 8px 10px;
            font-size: 25px;
            box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
            a {
                padding: 5px !important;
                background-color: transparent !important;
                &:hover {
                    color: #ffa800;
                    background-color: transparent !important;
                }
            }
        }
    }
    &:hover {
        .hover-content {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .badge-new {
        position: absolute;
        background: #01bad4;
        color: #fff;
        padding: 10px 22px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        top: 25px;
    }
    .badge-discount {
        position: absolute;
        background: #ffa800;
        color: #fff;
        padding: 10px 22px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        top: 25px;
        right: 0;
    }
    .menu-desc {
        .menu-price .price {
            font-size: 15px;
            font-weight: 500;
            color: #999999;
        }
    }
    .add_to_cart_button.added {
        //display: none !important;
    }
    .added_to_cart.wc-forward {
        overflow: hidden;
        width: 30px;
        height: 23px;
        background: #fff;
        display: inline-block;
        position: relative;
        margin: 0 2px;
        font-family: 'Pe-icon-7-stroke';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        &:before {
            content: "\e66e";
            position: absolute;
            left: 0;
            color: #333;
            bottom: -1px;
            background: #fff;
            font-size: 24px;
        }
    }
    &.discount {
        .menu-price .price {
            color: #ffa800;
            del {
                color: #999999;
            }
        }
    }
    &.woo-list {
        margin-bottom: 60px;
        .menu-thumbnail {
            overflow: hidden;
            @media only screen and (max-width: 767px) {
                float: none;
                margin-bottom: 30px;
            }
            img {
                width: 100%;
            }
        }
        .menu-desc {
            padding: 0;
        }
        .menu-title {
            font-weight: 500;
            font-size: 24px;
        }        
        .entry-title {
            font-weight: 500;
            font-size: 24px;
        }
        .rating-content {
            font-size: 12px;
            margin-bottom: 15px;
            .devide {
                padding: 0 8px;
            }
        }
        .price {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 15px;
            mark, ins {
                background: transparent;
            }
        }
        .woocommerce-product-rating {
            color: #999;
            margin-bottom: 8px;
            .star-rating {
                margin: 0.65em 4px 0 0;
            }
            .woocommerce-review-link {
                font-size: 14px;
                &:before {
                    content: "|";
                    margin-left: 0;
                    margin-right: 15px;
                }
            }
        }
        .product_meta {
            > span {
                display: block;
                margin-bottom: 10px;
            }
        }
        .menu-meta {
            margin-bottom: 15px;
        }
        .menu-desc-list {
            margin-bottom: 50px;
        }
        .share-item {
            margin-bottom: 0;
            margin-top: 0;
            font-size: 16px;
            a {
                padding: 10px;
                display: inline-block;
            }
        }
        .pro-meta {
            margin-top: 30px;
            border-top: 1px solid #ebebeb;
            padding-top: 15px;
            li {
                position: relative;
                padding-left: 19px;
                margin-top: 20px;
                font-size: 16px;
                &:before {
                    content: "";
                    width: 5px;
                    height: 5px;
                    background: #999;
                    position: absolute;
                    border-radius: 50%;
                    top: 7px;
                    left: 0;
                }
                strong {
                    margin-right: 20px;
                }
                span {
                    margin-right: 5px;
                    cursor: pointer;
                    display: inline-block;
                }
                img {
                    width: auto;
                }
            }
        }
        form.cart {
            margin-top: 15px;
            .quantity {
                display: inline-block;
                margin-right: 5px;
            }
            .quantity .qty {
                border-top: 1px solid #ddd !important;
                border-right: 1px solid #ddd !important;
                border-left: 1px solid #ddd !important;
                box-sizing: border-box !important;
                font-size: 14px !important;
                padding: 10px 5px 10px 20px !important;
                border-radius: 30px !important;
                min-width: 85px;
            }
            .single_add_to_cart_button {
                margin-right: 5px;
                font-size: 14px !important;
                text-transform: uppercase;
                font-weight: 600 !important;
                color: $color__orange !important;
                border: 1px solid #ebebeb !important;
                padding: 16px 17px !important;
                display: inline-block !important;
                border-radius: 30px !important;
                vertical-align: middle;
                -webkit-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;
                background: transparent !important;
                position: relative;
                top: -1px;
            }
            .wishlist-btn {
                width: 47px;
                height: 47px;
                border: 1px solid #eee;
                display: inline-block;
                vertical-align: middle;
                line-height: 50px;
                text-align: center;
                font-size: 18px;
                border-radius: 50px;
                color: #333333;
                -webkit-transition: opacity 3s ease-in;
                transition: opacity 3s ease-in;
                margin-top: -2px;
                &:hover {
                    background: $color__orange;
                    border-color: $color__orange;
                    color: $color__white !important;
                    i {
                      color: $color__white !important;  
                    }
                }
            }
        }
        .order-block {
            float: right;
            .order-btn {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                color: $color__orange;
                border: 1px solid;
                padding: 8px 17px;
                display: inline-block;
                border-radius: 30px;
                vertical-align: middle;
                transition: all 0.3s ease-in;
                &:hover {
                    background: $color__orange;
                    border-color: $color__orange;
                    color: $color__white;
                }
            }
            .wishlist-btn {
                width: 38px;
                height: 38px;
                border: 1px solid #eee;
                display: inline-block;
                vertical-align: middle;
                line-height: 40px;
                text-align: center;
                font-size: 18px;
                border-radius: 50px;
                color: #333333;
                display: none;
                opacity: 0;
                transition: opacity 3s ease-in;
                &:hover {
                    background: $color__orange;
                    border-color: $color__orange;
                    color: $color__white;
                }
            }
        }
        &:hover {
            .menu-price .order-block .wishlist-btn {
                display: inline-block;
                opacity: 1;
            }
        }
    }
    &.woo-single-products {
        .menu-share {
            margin-top: 30px;
        }
    }
}
.woo-single-products {
    &.new-arrival-item {
        padding: 0;
        box-shadow: 0 0 0 rgba(0,0,0,0);
        .menu-thumbnail {
            transform: scale(1.0);
            .badge-new {
                position: absolute;
                background: #01bad4;
                color: #fff;
                padding: 10px 22px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                font-size: 14px;
                font-weight: 500;
                top: 25px;
            }
            .badge-discount {
                position: absolute;
                background: #ffa800;
                color: #fff;
                padding: 10px 22px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                font-size: 14px;
                font-weight: 500;
                top: 25px;
                right: 0;
            }
        }
        .menu-single-tab {
            @media only screen and (min-width: 1200px) {
                margin-left: 0 !important;
                transform: translateY(-50%);
            }
        }
    }
}

.woo-best-seller-slider {
    .owl-nav {
        > div {
            position: absolute;
            display: inline-block;
            text-align: center;
            font-size: 60px;
            margin: 0 5px;
            top: 50%;
            transform: translateY(-50%);
            color: #ffa800;
            &.disabled {
                color: inherit;
                cursor: not-allowed;
            }
        }
        .owl-next {
            right: -40px;
        }       
        .owl-prev {
            left: -40px;
        }
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
    .woo-menu-item {
        margin-bottom: 0;
    }
}
.new-arrival-slider {
    .owl-item {
        padding: 40px 10px;
    }
    .owl-nav {
        > div {
            position: absolute;
            display: inline-block;
            text-align: center;
            font-size: 60px;
            margin: 0 5px;
            top: 50%;
            transform: translateY(-50%);
            color: #ffa800;
            &.disabled {
                color: inherit;
                cursor: not-allowed;
            }
        }
        .owl-next {
            right: -40px;
        }       
        .owl-prev {
            left: -40px;
        }
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
}
.new-arrival-item {
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
    padding: 15px;
    .menu-single-tab {
        @media only screen and (min-width: 992px) {        
            float: left;
            margin-left: 20px;
            top: 50%;
            position: relative;
        }
        @media only screen and (min-width: 1200px) {        
            float: left;
            margin-left: 35px;
            top: 50%;
            position: relative;
        }
        @media only screen and (max-width: 992px) {        
            text-align: center;
            display: table;
            margin: -30px auto auto;
        }
        .bsm-tabs {
            height: auto;
            width: auto;
            white-space: normal;
            .bsm-tab {
                display: block;
                width: 100px;
                height: 128px;
                margin-bottom: 25px;
                @media only screen and (max-width: 992px) {
                   -webkit-box-flex: 0;
                    -ms-flex-positive: 0;
                    flex-grow: 0;
                    padding: 8px;
                }
                @media only screen and (max-width: 992px) {
                    width: 65px;
                    height: 90px;
                    margin-bottom: 0px;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                a {
                    padding: 0;
                }
                &:nth-last-child(2) {
                    margin-bottom: 0 !important;
                }
            }
            .bsm-indicator {
                display: none;
            }
        }
    }
    img {
        max-width: 100%;
        width: auto;
    }
    .menu-thumbnail {
        transform: scale(1.2);
        margin-bottom: 0;
        @media only screen and (max-width: 992px) {
            transform: scale(1);
        }
        img {
            display: none;
            max-width: 100%;
            width: auto;
            margin: auto;
            @media only screen and (max-width: 992px) {
                margin: auto;
                width: 100%;
            }
        }
        img.active {
            display: block;
        }
    }
    .new-arrivals-content {
        padding: 45px;
        @media only screen and (max-width: 992px) {
            padding: 15px;
        }
    }
    .woo-pro-title {
        font-size: 32px;
        font-weight: 600;
    }
    .pro-price {
        font-size: 30px;
        color: #999;
        font-weight: 600;
    }
    .pro-meta {
        margin-top: 30px;
        li {
            position: relative;
            padding-left: 19px;
            margin-top: 20px;
            font-size: 16px;
            &:before {
                content: "";
                width: 5px;
                height: 5px;
                background: #999;
                position: absolute;
                border-radius: 50%;
                top: 7px;
                left: 0;
            }
            strong {
                margin-right: 20px;
            }
            span {
                margin-right: 5px;
                cursor: pointer;
                display: inline-block;
            }
            img {
                width: auto;
            }
        }
    }
    .order-block {
        margin-top: 30px;
    }
    .order-btn {
        font-size: 14px;
        padding: 15px 30px;
        border-radius: 30px;
        border: 2px solid $color__orange;
        color: $color__orange;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        overflow: hidden;
        @media only screen and (max-width: 992px) {
            font-size: 14px;
            padding: 15px 18px;
        }
    }
    .wishlist-btn {
        font-size: 27px;
        padding: 8px;
        border-radius: 50px;
        border: 2px solid #ddd;
        color: #ddd;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        width: 55px;
        height: 55px;
        text-align: center;
        overflow: hidden;
        line-height: 40px;
        @media only screen and (max-width: 992px) {
            font-size: 24px;
        }
        &:hover {
            background: $color__orange;
            border-color: $color__orange;
            color: $color__white;
        }
        &.active {
            background: $color__orange;
            border-color: $color__orange;
            color: $color__white;
        }
    }
}


.insta-item {
    margin-bottom: 30px;
    display: block;
    position: relative;
    img {
        width: 100%;
    }
    .hover-content {
        background: rgba(255, 255, 255, 0.85);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
        transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out, opacity 0.35s ease-in-out;
        i {
            position: absolute;
            color: #333;
            font-size: 60px;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 99;
            transform: translateY(-50%);
        }
    }
    &:hover {
        .hover-content {
            opacity: 1;
            box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
        }
    }
}
.insta-title-content {
    background: #000;
    text-align: center;
    padding: 48px 15px;
    overflow: hidden;
    .section-title {
        color: #fff;
        font-size: 35px;
    }
    .insta_user {
        color: #ffa800;
        font-weight: 500;
        font-size: 18px;
    }
}

.service-offer-item {
    padding: 60px 0;
    .service-icon {
        font-size: 45px;
        margin-right: 15px;
        float: left;
        color: #999;
    }
    .service-content {
        display: table-cell;
        .offer-title {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
            color: #bbbbbb;
            margin-bottom: 0;
        }
    }
}

#review_form {
    input[type="text"] {
        border-left: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-top: 1px solid #ddd !important;
        padding: 0 15px !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        font-size: 14px !important;
    }
    textarea {
        border-left: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-top: 1px solid #ddd !important;
        border-bottom: 1px solid #ddd !important;
        padding: 15px;
        height: 150px;
        font-size: 14px !important;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    input[type="submit"] {
        padding: 13px 45px !important;
        border-radius: 5px !important;
        color: #ffffff !important;
        font-weight: 500 !important;
        text-transform: capitalize;
        font-size: 14px !important;
        width: auto;
        background: #03dedf !important;
    }
    .bsm-select-wrapper span.caret {
        right: 15px;
    }
}
.woocommerce-tabs.wc-tabs-wrapper {
    li {
        margin-right: 30px;
    }
    li a {
        text-transform: uppercase;
        padding: 0;
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }
}
.variations_form.cart {
    .reset_variations {
        background: #333;
        padding: 16px 28px;
        color: #fff;
        border-radius: 30px;
        font-weight: 600;
    }
    table td,
    table th {
        vertical-align: top;
    }
    label {
        font-weight: 500;
    }
    .single_variation_wrap {
        margin-top: 15px;
    }
    .woocommerce-variation-price {
        margin: 30px 0;
    }
}
.woocommerce #reviews #comments ol.commentlist {
    padding: 0;
}
.product-user-favourites {
    .alert {
        margin: 15px 0;
    }
}
.woocommerce-MyAccount-navigation-link {
    margin-bottom: 15px !important;

    a {
        border: 1px solid #ebebeb !important;
    }

}

table.variations {
    td, th {
        vertical-align: middle !important;
    }
    input[type="text"].select-dropdown {
        margin: 0 !important;
        height: auto;
        box-sizing: border-box;
        line-height: 1.5em;
        border: 1px solid #ebebeb;
        padding: 8px 15px;
        border-radius: 30px;
    }   
    .bsm-select-wrapper span.caret {
        right: 15px;
    }
    label {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0;
    }
    .reset_variations {
        position: absolute;
        margin-top: 15px;
        bottom: -65px;
        right: 0;
    }
}
.tabs.wc-tabs {
    padding: 0;
}
.single_variation_wrap {
    .quantity {
        display: inline-block;
        max-width: 85px;
        input {
            margin: 0;
            height: auto;
            box-sizing: border-box;
            line-height: 1.5em;
            border: 1px solid #ebebeb;
            padding: 15px 15px;
            border-radius: 30px;
            text-align: center;
        }
    }
    .single_add_to_cart_button  {
        font-size: 14px;
        padding: 15px 30px;
        border-radius: 30px;
        border: 2px solid #ffa800;
        color: #ffa800;
        background: transparent;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        overflow: hidden;
        margin-left: 10px;
    }
    .woocommerce-variation-price {
        display: inline-block;
        margin: 0 0 20px !important;
        .price {
            font-size: 20px;
        }
    }
    .woocommerce-variation-availability {
        display: inline-block;
    }

}
p.price:empty {
    display: none;
}
form.cart {
    position: relative;
    .quantity {
        display: inline-block;
        max-width: 85px;
        @media only screen and (max-width: 1070px) {
            display: block;
            max-width: 100%;
        }
        input {
            margin: 0;
            height: auto;
            box-sizing: border-box;
            line-height: 1.5em;
            border: 1px solid #ebebeb;
            padding: 15px 15px;
            border-radius: 30px;
            text-align: center;
        }
    }
    .single_add_to_cart_button  {
        font-size: 14px;
        padding: 18px 22px;
        border-radius: 30px;
        border: 2px solid #ffa800;
        color: #ffa800;
        background: transparent;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        overflow: hidden;
        margin-left: 10px;
    }
    .wishlist-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
.variations_form.cart.swatches-support {
    position: relative;
    .wishlist-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
.new-arrivals-content {
    .entry-title {
        font-weight: 600;
    }
    .price {
        font-size: 30px;
        color: #999;
        font-weight: 600;
        margin-bottom: 15px;
        mark, ins {
            background: transparent !important;
        }
    }
}
.new-arrival-item .menu-single-tab .bsm-tabs {
    padding: 0;
}
.new-arrivals-content .woocommerce-product-details__short-description {
    display: none;
}
.woo-menu-item.woo-list .product_meta > span {
    display: block;
    margin-bottom: 20px;
}

.woocommerce #reviews #comments ol.commentlist li {
    width: 100%;
}
.new-arrivals-content .woocommerce-product-rating {
    margin-bottom: 5px;
    .star-rating {
        float: right;
        overflow: hidden;
        position: relative;
        height: 1em;
        line-height: 1;
        font-size: 1em;
        width: 5.4em;
        font-family: star;
    }
    .star-rating:before {
        font-size: 12px;
    }
    .star-rating::before {
        content: '\73\73\73\73\73';
        color: #d3ced2;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
    }
    .star-rating span {
        overflow: hidden;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 1.5em;
    }
    .star-rating span::before {
        content: '\53\53\53\53\53';
        top: 0;
        position: absolute;
        left: 0;
        font-size: 12px;
    }
}
.woocommerce .cart-empty,
.woocommerce .return-to-shop {
    text-align: center;
}
.woocommerce .return-to-shop .wc-backward {
    padding: 15px 45px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.restau-tab-menu {
    .woocommerce-result-count {
        margin-bottom: 0;
        margin-top: 9px;
    }
    .woocommerce-ordering {
        margin-bottom: 0;
    }
    .bsm-select-wrapper span.caret {
        right: 10px;
    }
    .bsm-select-wrapper.orderby {
        input.select-dropdown {
            margin-bottom: 0 !important;
            height: auto !important;
            line-height: normal !important;
            border: 1px solid #ddd !important;
            padding: 12px 15px !important;
            box-sizing: border-box !important;
            font-size: 14px !important;
            font-weight: 500;
            color: #777;
        }
    }
    ul.bsm-dropdown-content.select-dropdown {
        min-width: 230px;
        li a,
        li span {
            font-size: 14px;
            font-weight: 500;
            color: #777;
            padding: 12px 15px !important;
            border-top: 1px solid #ddd !important;
        }
    }
}