.qty-count {
    display: inline-block;
    border-radius: 5px;
    margin-right: 15px;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 30px;
    .count-input {
        box-sizing: border-box !important;
        height: auto !important;
        margin-bottom: 0 !important;
        padding: 8px 6px !important;
        border-bottom: 0 none !important;
        box-shadow: 0 0 0 rgba(0,0,0,0) !important;
        width: auto !important;
        text-align: center;
    }
}
.regular-menu {
    margin-bottom: 60px;
}

.woo-details-tab {
    .bsm-tabs {
        margin-bottom: 30px;
    }
    .bsm-tab {
        margin-right: 30px;
    }
    .bsm-tabs .bsm-tab a {
        padding: 0;
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }
    .bsm-indicator {
        display: none;
    }
}

.wooshop {
    .wooshop-info {
        color: #333;
        font-weight: 500;
        margin-bottom: 15px;
        .retirve-btn {
            border: 2px solid #ddd;
            padding: 10px 30px;
            border-radius: 30px;
            color: #333;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 15px;
        }
    }
    input {
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        box-sizing: border-box !important;
        font-size: 14px !important;
        padding: 10px 20px !important;
        border-radius: 30px !important;
    }
    .checkout_coupon {
        display: inline-block;
    }
    .checkout_coupon input {
        width: auto !important;
        margin-left: 60px;
        border-radius: 30px;
        padding: 10px 20px;
        margin-bottom: 0 !important;
    }
    .bsm-select-wrapper {
        width: 100%;
    }
    .bsm-select-wrapper span.caret {
        right: 20px;
        top: -18px;
    }
    .bsm-textarea {
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        box-sizing: border-box !important;
        font-size: 14px !important;
        padding: 10px 20px !important;
        border-radius: 15px !important;
        min-height: 130px;
    }
    .form-chackout {    
        h3 {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
        }
        label {
            font-size: 14px;
            color: #333;
            font-weight: 600;
        }
        .pay-description {
            margin-left: 33px;
            display: block;
            line-height: 1.75;
            margin-top: -12px;
            margin-bottom: 30px;
        }
    }
    .payment-method-title {
        margin: 30px 0 15px;
    }
    .checkout-submit {
        background: transparent;
        border: 2px solid #ddd;
        padding: 15px 45px;
        border-radius: 30px;
        color: #333;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        margin-left: 0;
        font-size: 16px;
        margin-top: 30px;
    }
    #order_review_heading {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 5px;
    }
    #order_review {
        .product-name {
            text-align: center;
            .product-cat {
                font-size: 14px;
                font-weight: 300;
                color: #666666;
                position: relative;
                padding-left: 20px;
                &:before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: 0;
                    top: 4px;
                    border-radius: 20px;
                    background: $color__citrus;
                }
            }
        }
        .shop_table .cart_item {
            border-bottom: 1px solid #ebebeb;
            td {
                padding: 26px 5px;
            }
        }
        .shop_table .cart-subtotal {
            td, th {
                padding: 5px;
            }
        }
    }

    .shop_table.cart  {
        .product-title {
            display: block;
            font-size: 16px;
        }
        .product-name {
            text-align: center;
            .product-cat {
                font-size: 14px;
                font-weight: 300;
                color: #666666;
                position: relative;
                padding-left: 20px;
                &:before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: 0;
                    top: 4px;
                    border-radius: 20px;
                    background: $color__citrus;
                }
            }
        }
        .product-quantity {
            .quantity {
                width: 45%;
            }
        }
        .cart_item {
            border-bottom: 1px solid #ebebeb;
        }
        .cart_item .product-quantity {
            width: 25%;
        }
        th {
            text-transform: uppercase;
            font-size: 16px;
            color: #333;
        }
        td, th {
            padding: 25px 5px;
        }
        #coupon_code {
            width: auto;
        }
        input[type="submit"] {
            padding: 14px 30px !important;
            background: transparent;
            color: #333;
            display: inline-block;
            margin-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }
        .product-remove {
            font-size: 30px;
        }
        .cart_item .product-price,
        .cart_item .product-subtotal {
            font-size: 16px;
        }
        .cart_item .cart_item_update {
            border-bottom: 1px solid #ebebeb;
            .actions {
                padding-bottom: 6px;
            }
        }
    }
    .cart_totals.calculated_shipping {
        background: #f5f5f5;
        padding: 30px;
        h2 {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            border-bottom: 1px solid #ddd;
            padding-bottom: 9px;
        }
        .checkout-button {
            font-weight: 500;
            background: #333;
            color: #fff;
            padding: 13px 35px;
            text-transform: uppercase;
            border-radius: 30px;
            display: inline-block;
            margin-top: 15px;
        }
    }
}

.woo-single-products {
    input {
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        box-sizing: border-box !important;
        font-size: 14px !important;
        padding: 10px 5px 10px 20px !important;
        border-radius: 30px !important;
        min-width: 85px;
    }
    .quantity {
        display: inline-block;
    }
    .single_add_to_cart_button {
        font-size: 14px !important;
        text-transform: uppercase;
        font-weight: 600 !important;
        color: #94b800 !important;
        border: 1px solid !important;
        padding: 16px 17px !important;
        display: inline-block !important;
        border-radius: 30px !important;
        vertical-align: middle;
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        background: transparent !important;
        position: relative;
        top: -1px;
    }
}


/* Cart Table */
.woocommerce-cart-form__contents {
    border: 0 none !important;
    a {
        color: inherit !important;
    }
    thead tr th {
        text-transform: uppercase;
        font-size: 16px;
        color: #333;
        padding: 15px 12px !important;
    }
    .cart_item .product-thumbnail {
        min-width: 75px !important;
    }
    .cart_item .product-thumbnail img {
        width: 75px;
    }
    .quantity {
        input {
            border-top: 1px solid #ddd !important;
            border-right: 1px solid #ddd !important;
            border-left: 1px solid #ddd !important;
            box-sizing: border-box !important;
            font-size: 14px !important;
            padding: 10px 7px 10px 20px!important;
            border-radius: 30px !important;
            width: 85px !important;
        }
    }
    #coupon_code {
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        font-size: 14px !important;
        padding: 10px 20px !important;
        border-radius: 30px !important;
        min-width: 174px;
    }
    .button {
        padding: 14px 30px !important;
        background: transparent;
        color: #333;
        display: inline-block;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        border-radius: 30px !important;
    }
}
.cart-collaterals {
    .cart_totals  {
        background: #f5f5f5;
        padding: 30px;
        > h2 {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            border-bottom: 1px solid #ddd;
            padding-bottom: 9px;
        }
        td,
        th {
           padding: 13px 0 !important;
           font-size: 16px; 
        }
        .shop_table {
            border: 0 none !important;
        }
        .wc-proceed-to-checkout {
            padding-bottom: 0 !important;
        }
        .wc-proceed-to-checkout .checkout-button {
            font-weight: 500;
            background: #333;
            color: #fff;
            padding: 22px 35px;
            text-transform: uppercase;
            border-radius: 30px;
            display: block;
            margin-top: 15px;
            font-size: 16px;
            margin-bottom: 0;
        }
    }
}
.woocommerce table.shop_table td {
    padding: 25px 12px;
}
.woocommerce .col2-set, 
.woocommerce-page .col2-set {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, 
.woocommerce-page .col2-set .col-2 {
    -ms-flex: 0 0 48%;
    -webkit-box-flex: 0;
    flex: 0 0 48%;
    max-width: 48%;
    @media only screen and (max-width: 767px) {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.woocommerce-billing-fields__field-wrapper {
    input {
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        font-size: 14px !important;
        padding: 10px 20px !important;
        border-radius: 30px !important;
    }
    .bsm-select-wrapper {
        width: 100% !important;
        span.caret {
            right: 15px;
            top: -20px;
        }
    }
}
.woocommerce form .form-row input.input-text {
    border-top: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    padding: 10px 20px !important;
    border-radius: 30px !important;
}
.woocommerce form .form-row textarea {
    border-top: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    padding: 10px 20px !important;
    border-radius: 15px !important;
    min-height: 130px;
}
.woocommerce form .form-row label, 
.woocommerce-page form .form-row label {
    font-size: 14px;
}
.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order {
    font-weight: 500;
    background: #333;
    color: #fff;
    padding: 22px 35px;
    text-transform: uppercase;
    border-radius: 30px;
    display: block;
    margin-top: 15px;
    font-size: 16px;
}
.checkout_coupon .button {
    padding: 16px 30px !important;
    background: transparent;
    color: #333;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-radius: 30px !important;
}
.woocommerce-billing-fields > h3,
.woocommerce-additional-fields > h3,
#order_review_heading {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
#order_review_heading {
    margin-bottom: 16px;
}
.woocommerce #customer_details {
    margin-bottom: 45px;
}
.woocommerce table.shop_table {
    border: 0 none !important;
}

/* Account Page */
.woocommerce-MyAccount-navigation {
    ul {
        list-style: none;
        padding: 0;
    }
    li a {
        border-top: 1px solid #ddd;
        padding: 18px 15px;
        display: block;
    }
}
.woocommerce-account .woocommerce-MyAccount-content {
    margin-top: 10px;
}
.woocommerce-form__input-checkbox {
    opacity: 1 !important;
    position: relative !important;
    margin-left: 25px;
    margin-top: 15px;
}
.woocommerce-Button.button {
    padding: 16px 30px !important;
    background: transparent;
    color: #333;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-radius: 30px !important;
}

.wc-tabs-wrapper {
    li { 
        display: inline-block;
    }
}