h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font_montserrat;
	line-height: $font__line-height-heading;
	color: $color__heading;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

h1 {
  	font-size: $heading__one;
}

h2 {
	font-size: $heading__two;
}

h3 {
	font-size: $heading__three;
}

h4 {
	font-size: $heading__four;
}

h5 {
	font-size: $heading__five;
}

h6 {
	font-size: $heading__six;
}

small {
	font-size: $heading__six;
} 

.font_small {
	@extend small;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
    color: inherit;
    text-decoration: none
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
    color: inherit;
    text-decoration: none;
}

.section-heading {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 0;
    position: relative;
    &.style-one {
        padding-bottom: 20px;
        margin-bottom: 42px;
        &:before {
            content: "";
            background: $color__widget-text;
            height: 2px;
            width: 65px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}
.sub-sec-heading {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: $color__matterhorn;
}

.section-title {
    color: $black_russian;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    @media only screen and (max-width: 767px) {
        text-align: center;
    }
    &:after {
        content: "";
        width: 35px;
        height: 3px;
        background: $color__gainsboro;
        left: 0;
        bottom: -25px;
        position: absolute;
        @media only screen and (max-width: 767px) {
            right: 0;
            margin: auto;
        }
    }
    + .section-subtitle {
        margin-top: 60px;
        margin-bottom: 45px;
    }
    &.center-title {
        &:after {
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    &.no-border {
        &:after {
            width: 0;
        }
    }
    span {
        font-family: $font_mr_dafoe;
        color: #c1c1c1;
        margin-right: 10px;
    }
    &.v-3 {
        text-transform: none;
        font-size: 42px;
    }
}
.sub-section-title {
    font-size: 16px;
    font-weight: normal;
    &.v-2 {
        color: #bbbbbb;
        font-size: 14px;
    }
}

.restaurant-banner-title {
    font-size: 36px;
    margin-bottom: 0;
}