html {
	font-size: 100%;
}

body {
  background-color: white;
  font-family: $font_montserrat;
  font-size: $base__font-size;
  font-weight: normal;
  line-height: $font__line-height-body;
  color: $color_text_main;
}

@import "headings";

@import "copy";